/* You can add global styles to this file, and also import other style files */

@import 'scss/variables';

/* fonts-icon */
@import 'scss/fonts/fontawesome/scss/fontawesome';
@import 'scss/fonts/feather/iconfont';

@import url('scss/fonts/datta/datta-icons.css'); /** custom font icons - datta **/
@import 'scss/general';
@import 'scss/generic';
@import 'scss/mixins/function';

/* important element */
@import 'scss/menu/menu-lite';
@import 'scss/widget/widget';

/* basic elements */
@import 'scss/theme-elements/theme-elements';

/* advance-other elements */
@import 'scss/other/other';

/* third party modules style*/
@import 'scss/plugins/plugins';

@import 'scss/layout/layout';
@import 'scss/custom';

// toast module
@import '../node_modules/ngx-toastr/toastr';

// angular Material
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// calender css
@import '../node_modules/angular-calendar/css/angular-calendar.css';

ng-scrollbar.ng-scrollbar.ng-star-inserted {
    background-color: #00988C;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.pcoded-navbar.navbar-collapsed:not(:hover) .pcoded-inner-navbar>app-nav-group>app-nav-collapse>li>a, .pcoded-navbar.navbar-collapsed .pcoded-inner-navbar>app-nav-group>app-nav-collapse>li>a, .pcoded-navbar .pcoded-inner-navbar .nav-link {
    color: #fff;
}
.btn-primary{
    background-color: #00988C;
    border-color: #00988C;
}

.btn-primary:hover{
    background-color: #00988bbd;
    border-color: #00988bbd;
}
