<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="padding: 5px 25px;">
                <h5 style="margin-top: 0.8rem;"><i class="fa fa-school"></i>&nbsp; Tie-UP Schools &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></h5>
                <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
                (click)="addTieUpSchool()">Add Tie-Up School
                </button> 
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table datatable id="tblTieUpSchool" class="table table-striped row-border table-hover pt-10">
                        <thead>
                            <tr>
                            <th>Sno</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>City</th>
                            <th>PanNumber</th>
                            <th>Active</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tieUpSchool of tieUpSchools let i=index">
                                <td>{{i+1}}</td>
                                <td>{{tieUpSchool.name}}</td>
                                <td>{{tieUpSchool.email}}</td>
                                <td>{{tieUpSchool.city?.name}}</td>
                                <td>{{tieUpSchool.panNumber}}</td>
                                <td>
                                    <span [ngClass]="tieUpSchool.isActive ? 'badge bg-success' : 'badge bg-danger'" 
                                    style="cursor: pointer;" title="Change Status" (click)="updateStatus(tieUpSchool)">
                                    {{tieUpSchool.isActive ? 'Yes' : 'No'}}
                                    </span>
                                </td>
                                <td style="width:40px;text-align: right;">
                                    <i class="fa fa-edit" (click)="editTieUpSchool(tieUpSchool.uuid)" title="Edit" style="cursor: pointer;"></i>&nbsp;
                                    <i class="fa fa-trash-alt" (click)="deleteTieUpSchool(tieUpSchool)" title="Delete" style="cursor: pointer;" *ngIf="tieUpSchool.isExist == 0"></i>&nbsp;
                                    <i class="fa fa-list" (click)="detailTieUpSchool(tieUpSchool.uuid)" title="Detail" style="cursor: pointer;"></i>
                                </td>
                            </tr>
                            <tr *ngIf="tieUpSchools.length == 0">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>No record(s) found</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>