<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5 style="margin-top: 0.8rem;"><i class="fa fa-percent"></i>&nbsp; Tax Rates &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></h5>
          <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
           (click)="addTaxRate()">Add Tax Rate</button>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <form [formGroup]="academicSessionForm">
                        <div class="form-group">
                            <label class="form-control-label" for="academicSession">Academic Session &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedAcademicSession"></i></label>
                            <select class="form-control" required id="academicSession" formControlName="academicSession">
                                <option value="{{academicSession.id}}" *ngFor="let academicSession of academicSessions">{{academicSession.year}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <form [formGroup]="taxTypeForm">
                        <div class="form-group">
                            <label class="form-control-label" for="taxType">Tax Type &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedTaxType"></i></label>
                            <select class="form-control" required id="taxType" formControlName="taxType">
                                <option value="{{taxType?.id}}" *ngFor="let taxType of taxTypes">{{taxType?.name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <br/>
                    <button type="button" class="btn btn-rounded btn-primary" *ngIf="!searchClicked" 
                    (click)="filterData()"><i class="fa fa-search"></i>&nbsp;Search</button>
                    <button type="button" class="btn btn-rounded btn-primary" *ngIf="searchClicked">
                    <i class="fa fa-spin fa-spinner"></i>&nbsp;Searching...</button>
                </div>
            </div>
            <div class="table-responsive">
              <table datatable id="tblTaxRate" class="table table-striped row-border table-hover pt-10">
                <thead>
                  <tr>
                    <th>Sno</th>
                    <th>Academic Session</th>
                    <th>Tax Type - Rate(%)</th>
                    <th>Applicable From</th>
                    <th>Applicable To</th>             
                    <th>Active</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let taxRate of taxRates let i=index">
                    <td>{{i+1}}</td>
                    <td>{{taxRate?.academicSession?.year}}</td>
                    <td>{{taxRate?.taxType?.name}} - {{taxRate.rate | number}}%</td>
                    <td>{{taxRate?.applicableFrom | date : "dd/MM/yyyy"}}</td>
                    <td>{{taxRate?.applicableTo | date : "dd/MM/yyyy"}}</td>
                    <td>
                      <span [ngClass]="taxRate.isActive? 'badge bg-success':'badge bg-danger'" (click)="updateStatus(taxRate)" 
                      style="cursor: pointer;" title="Update Status">
                        {{taxRate.isActive? 'Yes' : 'No' }}
                      </span>
                    </td>   
                    <td style="width:40px;text-align: right;">
                        <i class="fa fa-edit" (click)="editTaxRate(taxRate)" *ngIf="taxRate.isExist == 0" title="Edit" style="cursor: pointer;"></i>&nbsp;
                        <i class="fa fa-trash-alt" (click)="deleteTaxRate(taxRate)" *ngIf="taxRate.isExist == 0" title="Delete" style="cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr *ngIf="taxRates.length == 0">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>No record(s) found</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        </div>
      </div>
    </div>
</div>