<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="padding: 10px 25px;">
                <h5 style="margin-top: 0.8rem;"><i class="fa fa-user"></i>&nbsp;User Types&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></h5>
                <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
                (click)="addUserType()">Add User Type</button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <form [formGroup]="moduleForm">
                            <div class="form-group">
                                <label class="form-control-label" for="module">Module</label>
                                <select class="form-control" required id="module" formControlName="module" (change)="getUserRoles()">
                                    <option value="{{module.id}}" *ngFor="let module of modules">{{module.name}}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <form [formGroup]="userRoleForm">
                            <div class="form-group">
                                <label class="form-control-label" for="userRole">User Role&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="userRoleClicked"></i></label>
                                <select class="form-control" required id="userRole" formControlName="userRole">
                                    <option value="{{userRole.id}}" *ngFor="let userRole of userRoles">{{userRole.name}}</option>
                                </select>
                            </div>
                        </form>
                    </div>                
                    <div class="col-md-3">
                        <br/>
                        <button type="button" class="btn btn-rounded btn-primary" *ngIf="!searchClicked"
                        (click)="filterData()"><i class="fa fa-search"></i>&nbsp;Search</button>
                        <button type="button" class="btn btn-rounded btn-primary" *ngIf="searchClicked">
                            <i class="fa fa-spin fa-spinner"></i>&nbsp;Searching...</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table datatable id="tblUserType" class="table table-striped row-border table-hover pt-10">
                        <thead>
                            <tr>
                                <th>Sno</th>
                                <th>Module</th>
                                <th>User Role</th>
                                <th>User Type</th>
                                <th>Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let userType of userTypes let i=index">
                                <td>{{i+1}}</td>
                                <td>{{userType.module.name}}</td>
                                <td>{{userType.userRole.name}}</td>
                                <td>{{userType.name|titlecase}}</td>
                                <td>
                                    <span [ngClass]="userType.isActive? 'badge bg-success':'badge bg-danger'" (click)="updateStatus(userType)" 
                                    style="cursor: pointer;" title="Update Status">
                                    {{userType.isActive? 'Yes' : 'No' }}
                                    </span>
                                </td>
                                <td style="width:40px;text-align: right;">
                                    <i class="fa fa-trash-alt" (click)="deleteUserType(userType)" 
                                    title="Delete" style="cursor: pointer;"></i>
                                </td>
                            </tr>
                            <tr *ngIf="userTypes.length == 0">
                                <td></td>
                                <td></td>
                                <td>No record(s) found</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>