<div class="modal-header">
    <h5 class="modal-title" id="weeklyTimeTableCreate"><i class="fa fa-clipboard-list"></i>&nbsp;Create Weekly Time Table</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="gradeScheduleSettingForm" autocomplete="off">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="monthYear">Month/Year&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="monthYear" type="month" required 
                    formControlName = "monthYear" placeholder="mm/yyyy"
                    [ngClass]="{'is-invalid': !gradeScheduleSettingForm.controls['monthYear'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="!gradeScheduleSettingForm.controls['monthYear'].valid && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter month/year.</label>
                </div>
            </div>
            <div class="col-md-2">
                <form [formGroup]="academicYearForm">
                    <div class="form-group">
                        <label class="form-control-label" for="academicYear">Academic Year&nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control" required id="academicYear" formControlName="academicYear" (change)="getGradeScheduleSetting(schoolUUID)"
                        [ngClass]="{'is-invalid': !academicYearForm.controls['academicYear'].valid && !isValidForm}">
                            <option value="{{academicYear.uuid}}" *ngFor="let academicYear of academicYears">{{academicYear.year}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="!academicYearForm.controls['academicYear'].valid && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please enter lunch academic year.</label>
                    </div>
                </form>
            </div>            
            <div class="col-md-3">
                <form [formGroup]="gradeForm">
                    <div class="form-group">
                        <label class="form-control-label" for="grade">Grade&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="gradeClicked"></i></label>
                        <select class="form-control" required id="grade" formControlName="grade" (change)="getGradeScheduleSetting(schoolUUID)"
                        [ngClass]="{'is-invalid': !gradeForm.controls['grade'].valid && !isValidForm}">
                            <option value="{{grade.id}}" *ngFor="let grade of grades">{{grade.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="!gradeForm.controls['grade'].valid && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please enter lunch grade.</label>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="startTime">Start Time&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></label>
                    <input class="form-control input-md" id="startTime" type="text" required formControlName="startTime" readonly
                    [value]="gradeScheduleSettingForm.get('startTime')?.value | convert12HrsTimeFormat">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="numberOfPeriods">Total Periods&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></label>
                    <input class="form-control input-md" id="numberOfPeriods" type="text" required formControlName="numberOfPeriods" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            <div class="form-group">
                <label for="duration">Duration (In Min.)&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></label>
                <input class="form-control input-md" id="duration" type="text" required formControlName="duration" readonly>
            </div>
            </div>
            <div class="col-md-2" *ngIf="weeklyTimeTable.length == 0">
                <div class="form-group">
                    <label class="form-control-label" for="lunchAfterPeriod">Lunch After Period&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="lunchAfterPeriod" type="text" 
                    pattern="^\d{1,2}" maxlength="2" required formControlName = "lunchAfterPeriod" (input)="checkLunchPeriod($event.target.value, 'lunchAfterPeriod', 'Lunch')"
                    [ngClass]="{'is-invalid': !gradeScheduleSettingForm.controls['lunchAfterPeriod'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="!gradeScheduleSettingForm.controls['lunchAfterPeriod'].valid && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter lunch after period.</label>
                    <label style="color: red;"
                    *ngIf="gradeScheduleSettingForm.controls['lunchAfterPeriod'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid lunch after period</label>
                </div>
            </div>
            <div class="col-md-3" *ngIf="weeklyTimeTable.length == 0">
                <div class="form-group">
                    <label class="form-control-label" for="lunchDuration">Lunch Duration (In Min.)&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="lunchDuration" type="text" 
                    pattern="^\d{1,2}" maxlength="2" required formControlName = "lunchDuration"
                    [ngClass]="{'is-invalid': !gradeScheduleSettingForm.controls['lunchDuration'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="!gradeScheduleSettingForm.controls['lunchDuration'].valid && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter lunch duration.</label>
                    <label style="color: red;"
                    *ngIf="gradeScheduleSettingForm.controls['lunchDuration'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid lunch duration</label>
                </div>
            </div>
            <div class="col-md-2" *ngIf="weeklyTimeTable.length == 0">
            <div class="form-group">
                <label for="duration">Snack After Period</label>
                <input class="form-control input-md" id="snackAfterPeriod" type="text" 
                    pattern="^\d{1,2}" maxlength="2" formControlName = "snackAfterPeriod" (input)="checkLunchPeriod($event.target.value, 'snackAfterPeriod', 'Snack')"
                    [ngClass]="{'is-invalid': !gradeScheduleSettingForm.controls['snackAfterPeriod'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="gradeScheduleSettingForm.controls['snackAfterPeriod'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid lunch duration</label>
            </div>
            </div>
            <div class="col-md-3" *ngIf="weeklyTimeTable.length == 0">
            <div class="form-group">
                <label for="duration">Snack Duration (In Min.)</label>
                <input class="form-control input-md" id="snackDuration" type="text" 
                    pattern="^\d{1,2}" maxlength="2" formControlName = "snackDuration"
                    [ngClass]="{'is-invalid': !gradeScheduleSettingForm.controls['snackDuration'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="gradeScheduleSettingForm.controls['snackDuration'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid lunch duration</label>
            </div>
            </div>                
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="button" class="btn btn-rounded btn-primary float-end" *ngIf="!createClicked"
        (click)="createWeeklyTimeTable()"><i class="fa fa-plus"></i>&nbsp;Create</button>
        <button type="button" class="btn btn-rounded btn-primary float-end" *ngIf="createClicked && weeklyTimeTable.length == 0">
            <i class="fa fa-spin fa-spinner"></i>&nbsp;Creating...</button>
    </div>
</form>