<div class="modal-header">
    <h5 class="modal-title" id="businessPartnerCoachAddModal"><i class="fa fa-plus"></i>&nbsp;Add Coach</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="addBusinessPartnerCoachForm" id="addBusinessPartnerCoachForm" (ngSubmit)="saveBusinessPartnerCoach()" autoComplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-3">
                <form [formGroup]="businessVerticalForm">
                    <div class="form-group">
                        <label class="form-control-label" for="businessVertical">Business Vertical&nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="businessVertical" formControlName="businessVertical" (change)="getBusinessVerticalTypes('Active')"
                        [ngClass]="{'is-invalid': !businessVerticalForm.controls['businessVertical'].valid && !isValidForm}">
                        <option value="{{businessVertical.id}}" *ngFor="let businessVertical of businessVerticals">{{businessVertical?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="businessVerticalForm.controls['businessVertical'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select business vertical.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-3">
                <form [formGroup]="businessVerticalTypeForm">
                    <div class="form-group">
                        <label class="form-control-label" for="businessVerticalType">Business Vertical Type&nbsp;<span style="color: red;">*</span><i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></label>
                        <select class="form-control"  required id="businessVerticalType" formControlName="businessVerticalType" (change)="getCoaches('All')"
                        [ngClass]="{'is-invalid': !businessVerticalTypeForm.controls['businessVerticalType'].valid && !isValidForm}">
                        <option value="{{businessVerticalType.id}}" *ngFor="let businessVerticalType of businessVerticalTypes">{{businessVerticalType?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="businessVerticalTypeForm.controls['businessVerticalType'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select business vertical types.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-6">
                <form [formGroup]="coachForm">
                    <div class="form-group">
                        <label class="form-control-label" for="coaches">Coaches&nbsp;<span style="color: red;">*</span><i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></label>
                        <ng-select id="coaches" required
                        formControlName="coaches" [options]="coaches" [multiple]="true"
                        [ngClass]="!coachForm.controls['coaches'].valid && !isValidForm ? ['ng select', 'is-invalid'] : ['ng-select']">
                        </ng-select>
                        <label style="color: red;"
                        *ngIf="coachForm.controls['coaches'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select coaches.</label>
                    </div>
                </form>
            </div>
    
        </div>
    </div>    
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>