<div class="modal-header">
    <h5 class="modal-title" id="syllabusAddModal"><i class="fa fa-plus"></i>&nbsp;Add Syllabus</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="addSyllabusForm" id="addSyllabusForm" (ngSubmit)="saveSyllabus()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="gradeCategoryForm">                   
                    <div class="form-group">
                        <label class="form-control-label" for="gradeCategoryIds">Grade Categories&nbsp;<span style="color: red;">*</span></label>
                        <ng-select id="gradeCategoryIds" required
                        formControlName="gradeCategoryIds" [options]="gradeCategoryIds" [multiple]="true"
                        [ngClass]="!gradeCategoryForm.controls['gradeCategoryIds'].valid && !isValidForm ? ['ng select', 'is-invalid'] : ['ng-select']">
                        </ng-select>
                        <label style="color: red;"
                        *ngIf="gradeCategoryForm.controls['gradeCategoryIds'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please enter grade category.</label>
                    </div>                           
                </form>                
            </div> 
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-control-label" for="name">Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="name" type="text" required 
                    formControlName="name" maxlength="40"
                    [ngClass]="{'is-invalid': !addSyllabusForm.controls['name'].valid && !isValidForm}"/>
                    <div style="color: red;"
                        *ngIf="addSyllabusForm.controls['name'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please enter name.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>