<div class="modal-header">
    <h5 class="modal-title" id="countryAddModal"><i class="fa fa-plus"></i>&nbsp;Add Country</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="addCountryForm" id="addCountryForm" (ngSubmit)="saveCountry()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="checkbox d-inline">
                      <input type="checkbox" name="checkbox-1" id="checkbox-1" (change)="getChange($event)"/>
                      <label for="checkbox-1" class="cr">Upload Excel</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="!isChecked">
                <div class="form-group">
                    <label class="form-control-label" for="name">Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="name" type="text" [ngRequired]="!isChecked"
                    formControlName="name" 
                    [ngClass]="{'is-invalid': !addCountryForm.controls['name'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="addCountryForm.controls['name'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter name.</label>
                </div>                
            </div> 
              <!-- upload excel -->  
            <div class="col-md-12" *ngIf="isChecked">
                <div class="form-file mb-3">
                    <label for="uploadFile">Upload Excel&nbsp;<span style="color: red;">*</span></label>
                    <span (click)="getDocuments('Country')" class="badge  btn-outline-danger m-1" style="float: right; border-style: solid; border-width: 1px;">Download Excel</span>
                    <input type="file" id="uploadFile" class="form-control"   formControlName="uploadFile" (change)="fileChange($event)" [accept]="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" [multiple]="false"
                    [ngRequired]="isChecked" [ngClass]="{'is-invalid': !addCountryForm.controls['uploadFile'].valid && !isValidForm}" />
                    <label style="color: red;"
                    *ngIf="addCountryForm.controls['uploadFile'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please upload file.</label>
                </div>
            </div>  
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>