<div class="modal-header">
    <h5 class="modal-title" id="studyCenterEditModal"><i class="fa fa-edit"></i>&nbsp;Edit {{studyCenter?.studyCenterType?.name}}</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="editStudyCenterForm" id="editStudyCenterForm" (ngSubmit)="saveStudyCenter()" autoComplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="name">Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="name" type="text" required
                    formControlName="name" 
                    [ngClass]="{'is-invalid': !editStudyCenterForm.controls['name'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['name'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter name.</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['name'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid name.</label>  
                </div>                 
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="email" type="text" required 
                    formControlName="email" maxlength="100"
                    [ngClass]="{'is-invalid': !editStudyCenterForm.controls['email'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['email'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter email.</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['email'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid email.</label>   
                </div>                 
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="address">Address&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="address" type="text" required 
                    formControlName="address" maxlength="200"
                    [ngClass]="{'is-invalid': !editStudyCenterForm.controls['address'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['address'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter address.</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['address'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid address.</label>   
                </div>                 
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="mobile">Mobile&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="mobile" type="text" required  
                    formControlName="mobile" maxlength="15" minlength="10"
                    [ngClass]="{'is-invalid': !editStudyCenterForm.controls['mobile'].valid && !isValidForm}"
                    />
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['mobile'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter mobile.</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['mobile'].hasError('minlength') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Contact Mobile number should be 10 to 15 digits long</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['mobile'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid mobile number</label>
                </div>    
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="pincode">Pincode&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="pincode" type="text" required 
                    formControlName="pincode" maxlength="6"
                    [ngClass]="{'is-invalid': !editStudyCenterForm.controls['pincode'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['pincode'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter pincode.</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['pincode'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid pincode.</label>   
                </div>                 
            </div>
            <div class="col-md-3">
                <form [formGroup]="countryForm">
                    <div class="form-group">
                        <label class="form-control-label" for="country">Country&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedCountry"></i></label>
                        <select class="form-control"  required id="country" formControlName="country" (change)="getStateRegions('')"
                        [ngClass]="{'is-invalid': !countryForm.controls['country'].valid && !isValidForm}">
                        <option value="{{country.id}}" *ngFor="let country of countries">{{country?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="countryForm.controls['country'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select country.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-3">
                <form [formGroup]="stateRegionForm">
                    <div class="form-group">
                        <label class="form-control-label" for="stateRegion">State/Region&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedStateRegion"></i></label>
                        <select class="form-control"  required id="stateRegion" formControlName="stateRegion" (change)="getDistricts('')"
                        [ngClass]="{'is-invalid': !stateRegionForm.controls['stateRegion'].valid && !isValidForm}">
                        <option value="{{stateRegion.id}}" *ngFor="let stateRegion of stateRegions">{{stateRegion?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="stateRegionForm.controls['stateRegion'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select state/region.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-3">
                <form [formGroup]="districtForm">
                    <div class="form-group">
                        <label class="form-control-label" for="district">District&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedDistrict"></i></label>
                        <select class="form-control"  required id="district" formControlName="district" (change)="getCities('')"
                        [ngClass]="{'is-invalid': !districtForm.controls['district'].valid && !isValidForm}">
                        <option value="{{district.id}}" *ngFor="let district of districts">{{district?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="districtForm.controls['district'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select district.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-3">
                <form [formGroup]="cityForm">
                    <div class="form-group">
                        <label class="form-control-label" for="city">City&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedCity"></i></label>
                        <select class="form-control"  required id="city" formControlName="city"
                        [ngClass]="{'is-invalid': !cityForm.controls['city'].valid && !isValidForm}">
                        <option value="{{city.id}}" *ngFor="let city of cities">{{city?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="cityForm.controls['city'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select city.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-6" *ngIf="studyCenter?.studyCenterType?.name == 'Company Operated'">
                <div class="form-group">
                    <label class="form-control-label" for="landlordName">Landlord Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="landlordName" type="text" [ngRequired]="isCompanyOperated" 
                    formControlName="landlordName" 
                    [ngClass]="{'is-invalid': !editStudyCenterForm.controls['landlordName'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['landlordName'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter landlord name.</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['landlordName'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid landlord name.</label>  
                </div>                 
            </div>
            <div class="col-md-3" *ngIf="studyCenter?.studyCenterType?.name == 'Company Operated'">
                <div class="form-group">
                    <label class="form-control-label" for="contactPersonName">Contact Person Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="contactPersonName" type="text" [ngRequired]="isCompanyOperated" 
                    formControlName="contactPersonName"
                    [ngClass]="{'is-invalid': !editStudyCenterForm.controls['contactPersonName'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['contactPersonName'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter contact person.</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['contactPersonName'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid contact person.</label>  
                </div>                 
            </div>
            <div class="col-md-3" *ngIf="studyCenter?.studyCenterType?.name == 'Company Operated'">
                <div class="form-group">
                    <label class="form-control-label" for="contactPersonEmail">Contact Person Email&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="contactPersonEmail" type="text" [ngRequired]="isCompanyOperated" 
                    formControlName="contactPersonEmail" maxlength="100"
                    [ngClass]="{'is-invalid': !editStudyCenterForm.controls['contactPersonEmail'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['contactPersonEmail'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter contact email.</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['contactPersonEmail'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid contact email.</label>   
                </div>                 
            </div>
            <div class="col-md-3" *ngIf="studyCenter?.studyCenterType?.name == 'Company Operated'">
                <div class="form-group">
                    <label class="form-control-label" for="contactPersonMobile"> Contact Person Mobile&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="contactPersonMobile" type="text" [ngRequired]="isCompanyOperated" 
                    formControlName="contactPersonMobile" maxlength="15" minlength="10"
                    [ngClass]="{'is-invalid': !editStudyCenterForm.controls['contactPersonMobile'].valid && !isValidForm}"
                    />
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['contactPersonMobile'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter contact mobile.</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['contactPersonMobile'].hasError('minlength') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Contact Mobile number should be 10 to 15 digits long</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['contactPersonMobile'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid contact mobile number</label>
                </div>                 
            </div>   
            <div class="col-md-3" *ngIf="studyCenter?.studyCenterType?.name == 'Company Operated'">
                <form [formGroup]="rewardTypeForm">
                    <div class="form-group">
                        <label class="form-control-label" for="rewardType">Reward Type&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedRewardType"></i></label>
                        <select class="form-control input-md" [ngRequired]="isCompanyOperated" id="rewardType" formControlName="rewardType" 
                        [ngClass]="{'is-invalid': !rewardTypeForm.controls['rewardType'].valid && !isValidForm}">
                            <option value="{{studyCenterRewardType.id}}" *ngFor="let studyCenterRewardType of studyCenterRewardTypes">
                            {{studyCenterRewardType.name}}
                            </option>
                        </select>
                        <label style="color: red;"
                        *ngIf="rewardTypeForm.controls['rewardType'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select reward agreement.</label>
                    </div>
                </form>        
            </div>  
            <div class="col-md-3" *ngIf="studyCenter?.studyCenterType?.name == 'Company Operated'">
                <div class="form-group">
                    <label class="form-control-label" for="panNumber">PAN Number&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="panNumber" type="text" formControlName="panNumber" maxlength="10" [ngRequired]="isCompanyOperated"
                    pattern="[a-zA-Z]{5}[0-9]{4}[A-Za-z]{1}" 
                    [ngClass]="{'is-invalid': !editStudyCenterForm.controls['panNumber'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['panNumber'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter pan number.</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['panNumber'].hasError('minlength') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >pan number should be 10 number long</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['panNumber'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid pan number.</label>  
                </div>                 
            </div>
            <div class="col-md-3" *ngIf="studyCenter?.studyCenterType?.name == 'Company Operated'">
                <div class="form-group">
                    <label class="form-control-label" for="gstNumber">GST Number&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="gstNumber" type="text" 
                    formControlName="gstNumber" minlength="15" maxlength="15"  [ngRequired]="isCompanyOperated" 
                    pattern="[0-9]{2}[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9A-Za-z]{1}[Z]{1}[0-9a-zA-Z]{1}"
                    [ngClass]="{'is-invalid': !editStudyCenterForm.controls['gstNumber'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['gstNumber'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter gst number.</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['gstNumber'].hasError('minlength') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >gst number should be 15 number long</label>
                    <label style="color: red;"
                    *ngIf="editStudyCenterForm.controls['gstNumber'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid gst number.</label>  
                </div>                 
            </div>
            <div class="col-md-3" *ngIf="studyCenter?.studyCenterType?.name == 'Partner Captive'">
                <form [formGroup]="businessPartnerForm">
                    <div class="form-group">
                        <label class="form-control-label" for="businessPartner">Business Partner&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></label>
                        <select class="form-control input-md" [ngRequired]="isPartnerCaptive" id="businessPartner" formControlName="businessPartner" 
                        [ngClass]="{'is-invalid': !businessPartnerForm.controls['businessPartner'].valid && !isValidForm}">
                            <option value="{{businessPartner.uuid}}" *ngFor="let businessPartner of businessPartners">
                            {{businessPartner?.name}}
                            </option>
                        </select>
                        <label style="color: red;"
                        *ngIf="businessPartnerForm.controls['businessPartner'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select business partner.</label>
                    </div>   
                </form>      
            </div>  
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>