<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" style="padding: 10px 25px;">
          <h5 style="margin-top: 0.8rem;">
            <img src="assets/images/resource_icons/pdf.png" *ngIf="curriculumUpload?.fileExtension=='pdf'" width="20">
            <img src="assets/images/resource_icons/ms_word.png" *ngIf="curriculumUpload?.fileExtension=='docx'" width="20">
            <img src="assets/images/resource_icons/ms_excel.png" *ngIf="curriculumUpload?.fileExtension=='xlsx'" width="20">
            <img src="assets/images/resource_icons/ms_ppt.png" *ngIf="curriculumUpload?.fileExtension=='pptx'" width="20">
            <img src="assets/images/resource_icons/mp4.png" *ngIf="curriculumUpload?.fileExtension=='mp4'" width="20">
            <img src="assets/images/resource_icons/mp3.png" *ngIf="curriculumUpload?.fileExtension=='mp3'" width="20">
            <img src="assets/images/resource_icons/url_image.png" *ngIf="curriculumUpload?.fileExtension=='https://'" width="20">
            <img src="assets/images/resource_icons/png_image.png" *ngIf="curriculumUpload?.fileExtension=='png'" width="20">
            <img src="assets/images/resource_icons/jpg_image.png" *ngIf="curriculumUpload?.fileExtension=='jpg' 
            || curriculumUpload?.fileExtension=='jpeg'" width="20">
            &nbsp;Lesson Player
          </h5>
          <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
           (click)="back()">Back</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Grade</label>
                        <h6>{{lessonPlanMaster?.grade?.name}}</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Subject</label>
                        <h6>{{lessonPlanMaster?.subject?.name}}</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Chapter</label>
                        <h6>{{lessonPlanMaster?.chapter?.name}}</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Topic</label>
                        <h6>{{lessonPlanMaster?.topic?.name}}</h6>
                    </div>
                </div>
            </div>
        </div>        
      </div>
      <div class="card" [style]="otherCurriculumFile ? 'width: 100%;height: 100%;margin-bottom:10px;' : 'margin-bottom:10px;'">
            <video id="my_video_1" width='100%' height='50%' autoplay
                controls controlsList="nodownload" preload="none" *ngIf="videoCurriculumFile" 
                data-setup='{ "aspectRatio":"100%" }'>
                    <source [src]="videoCurriculumFile" type='video/mp4' />
            </video>
            <audio controls controlsList="nodownload" autoplay
                *ngIf="audioCurriculumFile">
                    <source [src]="audioCurriculumFile">
            </audio>
            <img *ngIf="imageCurriculumFile" [src]="imageCurriculumFile" style="max-width: 100%;" />
            <h5 class="p-1" *ngIf="urlCurriculumFile"><a [href]="urlCurriculumFile" target="_blank">Click here to open link</a></h5>
            <iframe sandbox="allow-scripts allow-same-origin" *ngIf="otherCurriculumFile" [src]=otherCurriculumFile 
            width='100%' height='100%' frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="row">
        <div class="col-md-12 text-center text-primary" style="font-weight: bold;">
            {{curriculumUpload.fileName | slice : 0 : 30}}<br/>
            <span class="badge bg-warning" (click)="prevResource()" style="cursor: pointer;"><i class="fa fa-angle-left"></i></span>
            &nbsp;{{curFile}} / {{totalFile}}&nbsp;
            <span class="badge bg-warning" (click)="nextResource()" style="cursor: pointer;"><i class="fa fa-angle-right"></i></span>
        </div>
      </div>
    </div>
</div>
