<div class="modal-header">
    <h5 class="modal-title" id="changePasswordModal"><i class="fa fa-lock"></i>&nbsp;Change Password</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="changePasswordForm" id="editUserForm" (ngSubmit)="savePassword()" autoComplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-control-label" for="oldPassword">Old Password
                        &nbsp;<span style="color: red;">*</span>
                    </label>
                    <input class="form-control input-md" id="oldPassword" type="password" required 
                    formControlName="oldPassword" maxlength="40"
                    [ngClass]="{'is-invalid': !changePasswordForm.controls['oldPassword'].valid && !isValidForm}" />
                    <label style="color: red;"
                    *ngIf="changePasswordForm.controls['oldPassword'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter old password.</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-control-label" for="newPassword">New Password
                        &nbsp;<span style="color: red;">*</span>
                    </label>
                    <input class="form-control input-md" id="newPassword" type="password" 
                    formControlName="newPassword" minlength="6" maxlength="40"
                    [ngClass]="{'is-invalid': !changePasswordForm.controls['newPassword'].valid && !isValidForm}" />
                    <label style="color: red;"
                    *ngIf="changePasswordForm.controls['newPassword'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Enter password.</label>
                    <label style="color: red;"
                    *ngIf="changePasswordForm.controls['newPassword'].hasError('minlength') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Password should be 6 characters long.</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirm Password
                        &nbsp;<span style="color: red;">*</span>
                    </label>
                    <input class="form-control input-md" id="confirmPassword" type="password" 
                    formControlName="confirmPassword" minlength="6" maxlength="40"
                    [ngClass]="{'is-invalid': !changePasswordForm.controls['confirmPassword'].valid && !isValidForm}" />
                    <label style="color: red;"
                    *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Enter password.</label>
                    <label style="color: red;"
                    *ngIf="changePasswordForm.controls['confirmPassword'].hasError('minlength') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Password should be 6 characters long.</label>
                    <label style="color: red;"
                    *ngIf="changePasswordForm.controls['confirmPassword'].hasError('confirmedValidator') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Confirm password not matched.</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="submit" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>