<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body" *ngIf="codeValidated">
        <div class="mb-4 text-center">
          <img src="../../../../../assets/images/login/login-logo.png" style="width: 300px;"/>
        </div>
        <h5 class="mb-4 text-center">Reset Password</h5>
        <form [formGroup]="resetLinkForm" (ngSubmit)="resetPassword()" autoComplete="off">
          <div class="form-group mb-3">
            <input type="text" class="form-control" formControlName="email" placeholder="Email" readonly/>
          </div>
          <div class="form-group mb-3">
            <input type="password" class="form-control" formControlName="newPassword" 
            minlength="6" maxlength="40" placeholder="New Password"
            [ngClass]="{'is-invalid': !resetLinkForm.controls['newPassword'].valid && !isValidForm}" />
            <label style="color: red;"
            *ngIf="resetLinkForm.controls['newPassword'].hasError('required') && !isValidForm"
            class="error jquery-validation-error small form-text"
            >Enter password.</label>
            <label style="color: red;"
            *ngIf="resetLinkForm.controls['newPassword'].hasError('minlength') && !isValidForm"
            class="error jquery-validation-error small form-text"
            >Password should be 6 characters long.</label>
          </div>
          <div class="form-group mb-4">
            <input type="password" class="form-control" formControlName="reTypeNewPassword" 
            minlength="6" maxlength="40" placeholder="Re-Type New Password" 
            [ngClass]="{'is-invalid': !resetLinkForm.controls['reTypeNewPassword'].valid && !isValidForm}" />
            <label style="color: red;"
            *ngIf="resetLinkForm.controls['reTypeNewPassword'].hasError('required') && !isValidForm"
            class="error jquery-validation-error small form-text"
            >Enter password.</label>
            <label style="color: red;"
            *ngIf="resetLinkForm.controls['reTypeNewPassword'].hasError('minlength') && !isValidForm"
            class="error jquery-validation-error small form-text"
            >Password should be 6 characters long.</label>
            <label style="color: red;"
            *ngIf="resetLinkForm.controls['reTypeNewPassword'].hasError('confirmedValidator') && !isValidForm"
            class="error jquery-validation-error small form-text"
            >Re-Type password not matched.</label>
          </div>
          <div class="text-center">
            <button class="btn btn-outline-primary col-12" type="submit" *ngIf="!saveClicked">Reset Password</button>
            <button class="btn btn-outline-primary col-12" type="button" *ngIf="saveClicked"><i class="fa fa-spin fa-spinner"></i>&nbsp;Processing, Please wait... </button>
          </div>
          
        </form>
      </div>
      <div class="card-body" *ngIf="!codeValidated">
        <div class="mb-4 text-center">
          <img src="../../../../../assets/images/login/login-logo.png" style="width: 300px;"/>
        </div>
        <h4 class="text-center mb-4 {{classSetting}}"><i class="{{showSpinner}}"></i>&nbsp;{{message}}</h4>
        <p class="mb-0 text-muted text-center" *ngIf="showSpinner != 'fa fa-spin fa-spinner'">
          <a class="btn btn-outline-primary col-12" [routerLink]="showSpinner == 'fa fa-check' ? ['/auth/signin'] : ['/auth/reset-password']">
          {{showSpinner == 'fa fa-check' ? 'Go to Sign In' : 'Reset Password'}}</a></p>
      </div>
    </div>
  </div>
</div>
