<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="mb-3">{{applicationFor}} Application Form &nbsp;
                    <span class="badge bg-info">
                        {{studentProfileData?.applicationStatus?.name == 'Enrolled/Renewed' ? studentProfileData?.enrollmentNumber : studentProfileData?.applicationNumber}}
                    </span>&nbsp;
                    <span class="{{studentProfileData?.applicationStatus?.name == 'Enrolled/Renewed' ? 'badge bg-success' :  'badge bg-danger'}}">
                        Status : {{studentProfileData?.applicationStatus?.name}}
                    </span>
                    <button type="button" class="btn btn-rounded btn-black float-end" style="margin-top: 0rem;"
                    (click)="back()">Back</button>
                    <div class="btn-group mb-2 mt-0.8rem me-2 float-end" ngbDropdown >
                        <button class="btn btn-primary" ngbDropdownToggle type="button"><i class="fa fa-download"></i>&nbsp;Downloads</button>
                        <div ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript:" (click)="downloadApplicationFormPDF()">Application Form</a>
                            <a class="dropdown-item" href="javascript:" (click)="downloadUndertakingFormPDF()">Undertaking Form</a>
                        </div>
                    </div>
                </h5>
                <ul class="nav nav-pills col-sm-12" ngbNav #nav="ngbNav">
                    <li class="nav-item" [ngbNavItem]="1">
                        <a class="nav-link text-uppercase" aria-controls="home" aria-selected="true" ngbNavLink>      
                        Admission & Student Profile&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="studentProfileClicked"></i>
                        </a>
                        <ng-template ngbNavContent>
                            <h5>Admission Information</h5>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="applicationType">Application Type</label>
                                    <label class="form-control input-md">{{studentProfileData?.applicationType?.name}}</label>    
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="admissionDate">Admission Date</label>
                                    <label class="form-control input-md">{{studentProfileData?.admissionDate | date : "dd/MM/yyyy"}}</label>                 
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="academicSession">Academic Session</label>
                                    <label class="form-control input-md">{{studentProfileData?.academicSession?.year}}</label>                  
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="batchYear">Batch Year</label>
                                    <label class="form-control input-md">{{studentProfileData?.academicSession?.batchYear}}</label>                  
                                </div>
                            </div>
                            <div class="row mt-2" *ngIf="studentProfileData?.applicationType?.name == 'Sibling Application'">
                                <div class="col-sm-3" *ngIf="studentProfileData?.lastAcademicSession?.id != null">
                                    <label class="form-control-label" for="lAcademicSession">Last Academic Session</label>
                                    <label class="form-control input-md">{{studentProfileData?.lastAcademicSession?.year}}</label>                 
                                </div>
                                <div class="col-sm-6" *ngIf="studentProfileData?.lastAcademicSession?.id != null">
                                    <label class="form-control-label" for="lStudentName">Last Year Student Name</label>
                                    <label class="form-control input-md">{{studentProfileData?.lastEnrollment?.studentName}}</label>                 
                                </div>
                                <div class="col-sm-3" *ngIf="studentProfileData?.lastAcademicSession?.id != null">
                                    <label class="form-control-label" for="lEnrollment">Last Year Enrollment No.</label>
                                    <label class="form-control input-md">{{studentProfileData?.lastEnrollment?.enrollmentNumber}}</label>                 
                                </div>
                                <div class="col-sm-3" *ngIf="studentProfileData?.currentAcademicSession?.id != null">
                                    <label class="form-control-label" for="cAcademicSession">Current Academic Session</label>
                                    <label class="form-control input-md">{{studentProfileData?.currentAcademicSession?.year}}</label>                 
                                </div>
                                <div class="col-sm-6" *ngIf="studentProfileData?.currentAcademicSession?.id != null">
                                    <label class="form-control-label" for="cStudentName">Current Year Student Name</label>
                                    <label class="form-control input-md">{{studentProfileData?.currentApplication?.studentName}}</label>                 
                                </div>
                                <div class="col-sm-3" *ngIf="studentProfileData?.currentAcademicSession?.id != null">
                                    <label class="form-control-label" for="cApplication">Current Year Application No.</label>
                                    <label class="form-control input-md">{{studentProfileData?.currentApplication?.applicationNumber}}</label>                 
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <label class="form-control-label" for="school">School</label>
                                    <label class="form-control input-md">{{studentProfileData?.school?.name}}</label>    
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-control-label" for="schoolingProgram">Schooling Program</label>
                                    <label class="form-control input-md">{{studentProfileData?.schoolingProgram?.name}}</label>                 
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <label class="form-control-label" for="studyCenter">Study Center</label>
                                    <label class="form-control input-md">{{studentProfileData?.studyCenter?.name}}</label>
                                </div> 
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="name">Syllabus</label>
                                    <label class="form-control input-md">{{studentProfileData?.syllabus?.name}}</label>    
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="gradeCategory">Grade Category</label>
                                    <label class="form-control input-md">{{studentProfileData?.gradeCategory?.name}}</label>
                                </div>                                 
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="grade">Grade</label>
                                    <label class="form-control input-md">{{studentProfileData?.grade?.name}}</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="profileCompletion">Profile Completion</label>
                                    <label class="form-control input-md">{{studentProfileData?.profileCompletion?.name}}</label>                
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="parentUndertaking">Parent Undertaking</label>
                                    <label class="form-control input-md">{{studentProfileData?.parentUndertaking?.name}}</label>
                                </div> 
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="mt-2">Student Profile</h5>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-rounded btn-primary float-end" (click)="updateStudentProfile()">Update Profile</button>
                                </div>
                            </div>
                            <hr style="margin-top: 10px;">
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <label class="form-control-label" for="studentName">Student Name</label>
                                    <label class="form-control input-md">{{studentProfileData?.studentName}}</label>                  
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="gender">Gender</label>
                                    <label class="form-control input-md">{{studentProfileData?.gender?.name}}</label>                  
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="dob">Date Of Birth</label>
                                    <label class="form-control input-md">{{(studentProfileData?.dob | date : "dd/MM/yyyy") || "----"}}</label>
                                </div>                                 
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="nationality">Nationality</label>
                                    <label class="form-control input-md">{{studentProfileData?.nationality || "----"}}</label>
                                </div> 
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="aadharNo">Aadhar Number</label>
                                    <label class="form-control input-md">{{studentProfileData?.aadharNumber || "----"}}</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="passportNo">Passport Number</label>
                                    <label class="form-control input-md">{{studentProfileData?.passportNumber || "----"}}</label>
                                </div>                                                              
                            </div>  
                            <hr>
                            <h5 class="mt-4">Lead Information</h5>
                            <hr>
                            <div class="row mt-2">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="leadStudentType">Lead Student Type</label>
                                    <label class="form-control input-md">{{studentProfileData?.leadStudentType?.name}}</label>
                                </div> 
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="marketLeadType">Market Lead Type</label>
                                    <label class="form-control input-md">{{studentProfileData?.marketLeadType?.name}}</label>
                                </div>
                                <div class="col-sm-3" *ngIf="studentProfileData?.walkinMode?.name">
                                    <label class="form-control-label" for="walkinMode">Walk-In Mode</label>
                                    <label class="form-control input-md">{{studentProfileData?.walkinMode?.name || "----"}}</label> 
                                </div> 
                            </div>
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="2">
                        <a class="nav-link text-uppercase" aria-controls="home" aria-selected="true" ngbNavLink>     
                        Parent Profile&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="parentProfileClicked"></i>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-rounded btn-primary float-end" (click)="updateParentProfile()">Update Profile</button>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <label class="form-control-label" for="name">Parent/Guardian Name</label>
                                    <label class="form-control input-md">{{parentProfileData?.name}}</label>    
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-control-label" for="email">Email</label>
                                    <label class="form-control input-md">{{parentProfileData?.email}}</label>                  
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="mobile">Mobile</label>
                                    <label class="form-control input-md">{{parentProfileData?.mobile}}</label>                 
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="relationship">Relationship</label>
                                    <label class="form-control input-md">{{parentProfileData?.relationship}}</label>                  
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="aadharNumber">Aadhar Number</label>
                                    <label class="form-control input-md">{{parentProfileData?.aadharNumber || "----"}}</label>
                                </div> 
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="passportNumber">Passport Number</label>
                                    <label class="form-control input-md">{{parentProfileData?.passportNumber || "----"}}</label>
                                </div> 
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="panNumber">PAN Number</label>
                                    <label class="form-control input-md">{{parentProfileData?.panNumber || "----"}}</label>
                                </div>
                                <div class="col-sm-9">
                                    <label class="form-control-label" for="address">Postal Address</label>
                                    <label class="form-control input-md">{{parentProfileData?.address || "----"}}</label>
                                </div>                              
                            </div>  
                            <div class="row mt-2">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="country">Country</label>
                                    <label class="form-control input-md">{{parentProfileData?.country?.name || "----"}}</label>
                                </div> 
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="state">State/Region</label>
                                    <label class="form-control input-md">{{parentProfileData?.state?.name || "----"}}</label>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="district">District</label>
                                    <label class="form-control input-md">{{parentProfileData?.district?.name || "----"}}</label>                
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="city">City</label>
                                    <label class="form-control input-md">{{parentProfileData?.city?.name || "----"}}</label>
                                </div> 
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="pincode">Pin/Zip Code</label>
                                    <label class="form-control input-md">{{parentProfileData?.pincode || "----"}}</label>
                                </div> 
                            </div>
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="3">
                        <a class="nav-link text-uppercase" aria-controls="gradeSubjects" aria-selected="true" ngbNavLink>Batch Time & Subject Offered&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="subjectGroupClicked"></i></a>
                        <ng-template ngbNavContent>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="name">Subject Group</label>
                                    <label class="form-control input-md">{{subjectGroupData?.name}}</label>    
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="email">Batch Time</label>
                                    <label class="form-control input-md">{{subjectGroupData?.batchType?.startTime | convert12HrsTimeFormat}} - {{subjectGroupData?.batchType?.endTime | convert12HrsTimeFormat}}</label>                  
                                </div>
                            </div>
                            <hr>
                            <h5 class="mt-4">Subjects Offered</h5>
                            <div class="table-responsive">
                                <table class="table table-striped row-border table-hover pt-1">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Name</th>
                                            <th>Subject Type</th>
                                            <th>Is Mandatory</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let subject of subjectGroupData?.subjects let i=index" >
                                            <td>{{i+1}}</td>
                                            <td>{{subject?.name}}</td>
                                            <td>{{subject?.subjectType?.name}}</td>
                                            <td>{{subject?.isMandatory == 1 ? 'Yes' : 'No'}}</td>
                                        </tr>
                                        <tr *ngIf="subjectGroupData?.subjects?.length == 0">
                                            <td></td>
                                            <td>No record(s) found</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="4" *ngIf="feeStructureData != ''">
                        <a class="nav-link text-uppercase" aria-controls="feeStructure" aria-selected="true" ngbNavLink>Fee Structure & Tie-Up School&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="feeStructureClicked"></i></a>
                        <ng-template ngbNavContent>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="form-control-label" for="name">Fee Structure</label>
                                    <label class="form-control input-md">{{feeStructureData?.feeCategory?.name}}</label>    
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-control-label" for="email">Tie-Up School</label>
                                    <label class="form-control input-md">{{studentProfileData?.tieupSchool?.name || "----"}}</label>                  
                                </div>
                            </div>
                            <hr>
                            <h5 class="mt-4">Fee Types</h5>
                            <div class="table-responsive">
                                <table class="table table-striped row-border table-hover pt-1">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Name</th>
                                            <th class="text-end">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let feeType of feeStructureData?.feeTypes let i=index" >
                                            <td>{{i+1}}</td>
                                            <td>{{feeType?.name}}</td>
                                            <td class="text-end">{{feeType?.amount | number}}</td>
                                        </tr>
                                        <tr *ngIf="feeStructureData?.feeTypes?.length > 0">
                                            <td>&nbsp;</td>
                                            <td><h5>Totals : </h5></td>
                                            <td class="text-end"><h5>{{totalFeeTypes | number: '1.2-2'}}</h5></td>
                                        </tr>
                                        <tr *ngIf="feeStructureData?.feeTypes?.length == 0">
                                            <td></td>
                                            <td>No record(s) found</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <h5 class="mt-4">Discount Types</h5>
                            <div class="table-responsive">
                                <table class="table table-striped row-border table-hover pt-1">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Name</th>
                                            <th class="text-end">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let discountType of feeStructureData?.discountTypes let i=index" >
                                            <td>{{i+1}}</td>
                                            <td>{{discountType?.name}}</td>
                                            <td class="text-end">{{discountType?.amount | number}}</td>
                                        </tr>
                                        <tr *ngIf="feeStructureData?.discountTypes?.length > 0">
                                            <td>&nbsp;</td>
                                            <td><h5>Totals : </h5></td>
                                            <td class="text-end"><h5>{{totalDiscountTypes | number: '1.2-2'}}</h5></td>
                                        </tr>
                                        <tr *ngIf="feeStructureData?.discountTypes?.length == 0">
                                            <td></td>
                                            <td>No record(s) found</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <h5 class="mt-4">Installments</h5>
                            <div class="table-responsive">
                                <table class="table table-striped row-border table-hover pt-1">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Name</th>
                                            <th>Rate(%)</th>
                                            <th>Due Date</th>
                                            <th class="text-end">Amount</th>
                                            <th class="text-end">Amount Paid</th>
                                            <th class="text-end">Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let installment of feeStructureData?.installments let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{installment?.name}}</td>
                                            <td>{{installment?.rate | number}}</td>
                                            <td>{{installment?.dueDate | date : "dd/MM/yyyy"}}</td>
                                            <td class="text-end">{{installment?.amount | number}}</td>
                                            <td class="text-end">{{installment?.amountPaid | number}}</td>
                                            <td class="text-end">{{(installment?.amount - installment?.amountPaid) | number: '1.2-2'}}</td>
                                        </tr>
                                        <tr *ngIf="feeStructureData?.installments?.length > 0">
                                            <td style="text-align: right;" colspan="4"><h5>Totals : </h5></td>
                                            <td class="text-end"><h5>{{totalAmount | number: '1.2-2'}}</h5></td>
                                            <td class="text-end"><h5>{{totalPaid | number: '1.2-2'}}</h5></td>
                                            <td class="text-end"><h5>{{totalDue | number: '1.2-2'}}</h5></td>
                                        </tr>
                                        <tr *ngIf="feeStructureData?.installments?.length == 0">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>No record(s) found</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <h5 class="mt-4">Fee Summary</h5>
                            <div class="table-responsive">
                                <table class="table table-striped row-border table-hover pt-1">
                                    <thead>
                                        <tr>
                                            <th class="text-end">Total Amount</th>
                                            <th class="text-end">Total Discount</th>
                                            <th class="text-end">Net Amount</th>
                                            <th *ngIf="feeStructureData?.total?.taxAmount > 0">Tax Rate</th>
                                            <th class="text-end" *ngIf="feeStructureData?.total?.taxAmount > 0">Tax Amount</th>
                                            <th class="text-end">Gross Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-end">{{feeStructureData?.total?.totalAmount | number}}</td>
                                            <td class="text-end">{{feeStructureData?.total?.totalDiscount | number}}</td>
                                            <td class="text-end">{{feeStructureData?.total?.netAmount | number}}</td>
                                            <td *ngIf="feeStructureData?.total?.taxAmount > 0">{{feeStructureData?.total?.taxType}} - {{feeStructureData?.total?.taxRate}}%</td>
                                            <td class="text-end" *ngIf="feeStructureData?.total?.taxAmount > 0">{{feeStructureData?.total?.taxAmount | number}}</td>
                                            <td class="text-end">{{feeStructureData?.total?.grossAmount | number}}</td>
                                        </tr>
                                        <tr *ngIf="feeStructureData?.total?.length == 0">
                                            <td></td>
                                            <td></td>
                                            <td *ngIf="feeStructureData?.total?.taxAmount > 0"></td>
                                            <td *ngIf="feeStructureData?.total?.taxAmount > 0"></td>
                                            <td>No record(s) found</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <h5 class="mt-4">Payments&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="feePaymentClicked"></i></h5>
                            <div class="table-responsive">
                                <table class="table table-striped row-border table-hover pt-1">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Receipt No</th>
                                            <th>Payment For</th>
                                            <th>Payment Date</th>
                                            <th>Payment Method</th>
                                            <th>Bank Reference</th>
                                            <th class="text-end">Bank Charges</th>
                                            <th class="text-end">Amount</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let feePayment of feePayments let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{feePayment?.receiptNumber}}</td>
                                            <td>{{feePayment?.paymentFor}}</td>
                                            <td>{{feePayment?.paymentDate | date : "dd/MM/yyyy"}}</td>
                                            <td>{{feePayment?.paymentMethod?.name}}</td>
                                            <td>{{feePayment?.bankReference}}</td>
                                            <td class="text-end">{{feePayment?.bankCharges | number: '1.2-2'}}&nbsp;<i class="fa fa-edit" style="cursor: pointer;" (click)="updateBankCharges(feePayment?.id, feePayment?.amount)" *ngIf="feePayment?.paymentMethod?.name != 'Cash'"></i></td>
                                            <td class="text-end">{{feePayment?.amount | number: '1.2-2'}}</td>
                                            <td><i class="fa fa-file-pdf" title="Print Receipt" style="cursor: pointer;" (click)="downloadReceipt(feePayment)"></i></td>
                                        </tr>
                                        <tr *ngIf="feePayments?.length > 0">
                                            <td colspan="5"></td>
                                            <td><h5>Totals : </h5></td>
                                            <td class="text-end"><h5>{{totalBankCharges | number: '1.2-2'}}</h5></td>
                                            <td class="text-end"><h5>{{totalPayments | number: '1.2-2'}}</h5></td>
                                            <td></td>
                                        </tr>
                                        <tr *ngIf="feePayments?.length == 0">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>No record(s) found</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="5" *ngIf="sportProfileData != ''">
                        <a class="nav-link text-uppercase" aria-controls="home" aria-selected="true" ngbNavLink>      
                        Sport Engagement & Previous Schooling&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="sportProfileClicked"></i>
                        </a>
                        <ng-template ngbNavContent>
                            <h5>Sport Engagement</h5>
                            <hr>
                            <h6 *ngIf="sportProfileData?.isPracticingSport == 0">Child Not Practicing Any Sport.</h6>
                            <div class="row mt-4" *ngIf="sportProfileData?.isPracticingSport == 1">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="engagementDate">Engagement Since</label>
                                    <label class="form-control input-md">{{sportProfileData?.engagementDate | date : "dd/MM/yyyy"}}</label>    
                                </div>
                                <div class="col-sm-5">
                                    <label class="form-control-label" for="academyName">Academy Name</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.uuid ? sportProfileData?.businessPartner?.name : sportProfileData?.otherAcademyName}}</label>                  
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-control-label" for="sport">Sport Name</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.coach?.uuid ? sportProfileData?.businessPartner?.coach?.businessVerticalType?.name : sportProfileData?.otherAcademySport}}</label>                  
                                </div>
                            </div>
                            <div class="row mt-2" *ngIf="sportProfileData?.isPracticingSport == 1">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="sportCountry">Country</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.uuid ? sportProfileData?.businessPartner?.country?.name : sportProfileData?.otherAcademyCountry?.name}}</label>                 
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="sportState">State</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.uuid ? sportProfileData?.businessPartner?.state?.name : sportProfileData?.otherAcademyState?.name}}</label>                 
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="sportDistrict">District</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.uuid ? sportProfileData?.businessPartner?.district?.name : sportProfileData?.otherAcademyDistrict?.name}}</label>                 
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="sportCity">City</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.uuid ? sportProfileData?.businessPartner?.city?.name : sportProfileData?.otherAcademyCity?.name}}</label>                 
                                </div>
                            </div>
                            <div class="row mt-2" *ngIf="sportProfileData?.isPracticingSport == 1">
                                <div class="col-sm-12">
                                    <label class="form-control-label" for="sportAddress">Address</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.uuid ? sportProfileData?.businessPartner?.address : sportProfileData?.otherAcademyAddress}}</label>   
                                </div>                            
                            </div>
                            <div class="row mt-2" *ngIf="sportProfileData?.isPracticingSport == 1">
                                <div class="col-sm-4">
                                    <label class="form-control-label" for="coach">Coach Name</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.coach?.uuid ? sportProfileData?.businessPartner?.coach?.name : sportProfileData?.otherAcademyCoach}}</label>                  
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-control-label" for="coachEmail">Coach Email</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.coach?.uuid ? (sportProfileData?.businessPartner?.coach?.email || "----") : (sportProfileData?.otherAcademyCoachEmail || "----")}}</label>                  
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-control-label" for="coachMobile">Coach Mobile</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.coach?.uuid ? sportProfileData?.businessPartner?.coach?.mobile : sportProfileData?.otherAcademyCoachMobile}}</label>                  
                                </div>
                            </div>
                            <hr>
                            <h5 class="mt-4">Previous Schooling</h5>
                            <hr>
                            <h6 *ngIf="undergoneEducationData?.studentUndergone == 'Home Schooling'">Student Studied Under Home Schooling Option</h6>
                            <div class="row mt-4" *ngIf="undergoneEducationData?.studentUndergone == 'Formal Education'">
                                <div class="col-sm-5">
                                    <label class="form-control-label" for="undergoneSchool">School Name</label>
                                    <label class="form-control input-md">{{undergoneEducationData?.formalSchoolName}}</label>    
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-control-label" for="undergoneGrade">Grade</label>
                                    <label class="form-control input-md">{{undergoneEducationData?.grade?.name}}</label>    
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="undergoneSyllabus">Syllabus</label>
                                    <label class="form-control input-md">{{undergoneEducationData?.syllabus?.name}}</label>    
                                </div>
                            </div>
                            <div class="row mt-2" *ngIf="undergoneEducationData?.studentUndergone == 'Formal Education'">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="undergoneMedium">Medium</label>
                                    <label class="form-control input-md">{{undergoneEducationData?.medium}}</label>    
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="undergoneYear">Last Academic Year</label>
                                    <label class="form-control input-md">{{undergoneEducationData?.lastAcademicYear}}</label>    
                                </div>
                                                            
                            </div>
                            <div class="row mt-2" *ngIf="undergoneEducationData?.studentUndergone == 'Formal Education'">
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="sportCountry">Country</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.uuid ? sportProfileData?.businessPartner?.country?.name : sportProfileData?.otherAcademyCountry?.name}}</label>                 
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="sportState">State</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.uuid ? sportProfileData?.businessPartner?.state?.name : sportProfileData?.otherAcademyState?.name}}</label>                 
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="sportDistrict">District</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.uuid ? sportProfileData?.businessPartner?.district?.name : sportProfileData?.otherAcademyDistrict?.name}}</label>                 
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" for="sportCity">City</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.uuid ? sportProfileData?.businessPartner?.city?.name : sportProfileData?.otherAcademyCity?.name}}</label>                 
                                </div>
                            </div>
                            <div class="row mt-2" *ngIf="undergoneEducationData?.studentUndergone == 'Formal Education'">
                                <div class="col-sm-6">
                                    <label class="form-control-label" for="sportAddress">Address</label>
                                    <label class="form-control input-md">{{sportProfileData?.businessPartner?.uuid ? sportProfileData?.businessPartner?.address : sportProfileData?.otherAcademyAddress}}</label>   
                                </div>  
                            </div>                            
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="6" *ngIf="(undertakingDocument?.admissionFileName != '' && undertakingDocument?.undertakingFileName != '') || studentProfileData?.applicationStatus?.name == 'Undertaking Accepted'">
                        <a class="nav-link text-uppercase" aria-controls="home" aria-selected="true" ngbNavLink>      
                        Undertaking & Student Documents&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="studentDocProfileClicked"></i>
                        </a>
                        <ng-template ngbNavContent>
                            <h5>Undertaking Documents</h5>
                            <div class="table-responsive">
                                <table class="table align-middle mb-0">
                                    <tbody>
                                        <tr>  
                                            <td>
                                                Admission Form<br>
                                                <span class="badge bg-success" *ngIf="undertakingDocument?.admissionFileName != ''">Uploaded</span>
                                            </td>
                                            <td>
                                                <input type="file" id="undertakingDococFile1" [multiple]="false" [accept]="'image/png, image/jpeg, application/pdf'" (change)="undertakingfileChange($event, 0)"  class="form-control">
                                                <!-- <label *ngIf="undertakingDocument?.admissionFileName != ''">   
                                                    {{undertakingDocument?.admissionFileName}}
                                                </label> -->
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-rounded btn-success" *ngIf="!saveUndertakingClicked[0]" (click)="saveUndertakingDoc(0, 0, 'Admission_Form')"><i class="fa fa-upload"></i>Upload </button>
                                                
                                                <!-- <button type="button" class="btn btn-sm btn-rounded btn-danger" *ngIf="!deleteUndertakingClicked[0] && studentProfileData?.applicationStatus?.name != 'Enrolled/Renewed' && undertakingDocument?.admissionFileName != ''" (click)="deleteApplicationDoc(0, 0,'Admission_Form')"><i class="fa fa-trash"></i>Delete </button> -->
        
                                                <button type="button" class="btn btn-sm btn-rounded btn-secondary" *ngIf="!downloadUndertakingClicked[0] && undertakingDocument?.admissionFileName != ''" (click)="downloadApplicationDoc(0, 0,'Admission_Form', undertakingDocument?.admissionFileName)"><i class="fa fa-download"></i>Download</button>
                                                
                                                <button type="button" class="btn btn-sm btn-rounded btn-info" *ngIf="deleteUndertakingClicked[0] || saveUndertakingClicked[0] || downloadUndertakingClicked[0]" disabled><i class="fa fa-spin fa-spinner"></i>Processing...</button>
                                            </td>
                                        </tr>
                                        <tr>  
                                            <td>
                                                Parent Undertaking<br>
                                                <span class="badge bg-success" *ngIf="undertakingDocument?.undertakingFileName != ''">Uploaded</span>
                                            </td>
                                            <td>
                                                <input type="file" id="undertakingDococFile2" [multiple]="false" [accept]="'image/png, image/jpeg, application/pdf'" (change)="undertakingfileChange($event, 1)" class="form-control">
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-rounded btn-success" *ngIf="!saveUndertakingClicked[1]" (click)="saveUndertakingDoc(1, 0, 'Undertaking_Form')"><i class="fa fa-upload"></i>Upload </button>
        
                                                <!-- <button type="button" class="btn btn-sm btn-rounded btn-danger" *ngIf="!deleteUndertakingClicked[1] && studentProfileData?.applicationStatus?.name != 'Enrolled/Renewed' && undertakingDocument?.undertakingFileName != ''" (click)="deleteApplicationDoc(1, 0, 'Undertaking_Form')"><i class="fa fa-trash"></i>Delete</button> -->
        
                                                <button type="button" class="btn btn-sm btn-rounded btn-secondary" *ngIf="!downloadUndertakingClicked[1] && undertakingDocument?.undertakingFileName != ''" (click)="downloadApplicationDoc(1, 0, 'Undertaking_Form', undertakingDocument?.undertakingFileName)"><i class="fa fa-download"></i>Download</button>
        
                                                <button type="button" class="btn btn-sm btn-rounded btn-info" *ngIf="deleteUndertakingClicked[1] || saveUndertakingClicked[1] || downloadUndertakingClicked[1]" disabled><i class="fa fa-spin fa-spinner"></i>Processing...</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <h5 class="mt-4">Student Enclosures&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="studentDocClicked"></i></h5>
                            <div class="table-responsive">
                                <table class="table align-middle mb-0">
                                    <tbody>
                                        <tr *ngFor="let studentDocument of studentDocuments let i=index">  
                                            <td>{{i+1}}</td>
                                            <td class="text-wrap" style="width: 25%;">{{studentDocument.name}}</td>
                                            <td>
                                                <input type="file" id="studentDoc_{{i}}" [multiple]="false" [accept]="'image/png, image/jpeg, application/pdf'" (change)="studentfileChange($event, i)"  class="form-control" *ngIf="studentDocument?.fileName == ''">
                                                <label *ngIf="studentDocument?.fileName != ''">   
                                                    {{studentDocument?.fileName}}
                                                </label>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-rounded btn-success" *ngIf="!saveStudentDocClicked[i] && studentDocument?.fileName == ''" (click)="saveStudentDoc(i, studentDocument?.id)"><i class="fa fa-upload"></i>Upload </button>
                                                
                                                <button type="button" class="btn btn-sm btn-rounded btn-danger" *ngIf="!deleteStudentDocClicked[i] && studentDocument?.fileName != ''" (click)="deleteApplicationDoc(i, studentDocument?.id,'')"><i class="fa fa-trash"></i>Delete </button>

                                                <button type="button" class="btn btn-sm btn-rounded btn-secondary" *ngIf="!downloadStudentDocClicked[i] && studentDocument?.fileName != ''" (click)="downloadApplicationDoc(i, studentDocument?.id,'', studentDocument?.fileName)"><i class="fa fa-download"></i>Download</button>
                                                
                                                <button type="button" class="btn btn-sm btn-rounded btn-info" *ngIf="deleteStudentDocClicked[i] || saveStudentDocClicked[i] || downloadStudentDocClicked[i]" disabled><i class="fa fa-spin fa-spinner"></i>Processing...</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                            
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
    </div>
</div>
