<div class="modal-header">
    <h5 class="modal-title" id="gradeAddModal"><i class="fa fa-plus"></i>&nbsp;Add Chapter Wise Topic</h5>
     <!-- <div>{{addChapterWiseSubject.value | json}}</div> -->
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="addChapterWiseSubject" id="addChapterWiseSubject" (ngSubmit)="saveChapterWiseTopic()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-3">
                <form [formGroup]="academicSessionForm">
                    <div class="form-group">
                        <label class="form-control-label" for="academicSession">Academic Session &nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="academicSession" formControlName="academicSession" (change)="getGradeWiseSyllabuses()"
                        [ngClass]="{'is-invalid': !academicSessionForm.controls['academicSession'].valid && !isValidForm}">
                        <option value="{{academicSession.id}}" *ngFor="let academicSession of academicSessions">{{academicSession?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="academicSessionForm.controls['academicSession'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select academic session.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-3">
                <form [formGroup]="gradeCategoryForm">
                    <div class="form-group">
                        <label class="form-control-label" for="gradeCategory">Grade Category &nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="gradeCategory" formControlName="gradeCategory" (change) ="getGrades()"
                        [ngClass]="{'is-invalid': !gradeCategoryForm.controls['gradeCategory'].valid && !isValidForm}"
                          >
                        <option value="{{gradeCategory.id}}" *ngFor="let gradeCategory of gradeCategories">{{gradeCategory?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="gradeCategoryForm.controls['gradeCategory'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select grade.</label>
                    </div>
                </form>                
            </div>
            <div class="col-md-3">
                <form [formGroup]="gradeForm">
                    <div class="form-group">
                        <label class="form-control-label" for="grade">Grade &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="gradeClicked"></i></label>
                        <select class="form-control"  required id="grade" formControlName="grade" (change) = "getGradeWiseSyllabuses()"
                        [ngClass]="{'is-invalid': !gradeForm.controls['grade'].valid && !isValidForm}" 
                          >
                        <option value="{{grade.id}}" *ngFor="let grade of grades">{{grade?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="gradeForm.controls['grade'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select grade.</label>
                    </div>
                </form>                
            </div>             
            <div class="col-md-3">
                <form [formGroup]="syllabusForm">
                    <div class="form-group">
                        <label class="form-control-label" for="syllabus">Syllabus &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="syllabusClicked"></i></label>
                        <select class="form-control"  required id="syllabus" formControlName="syllabus" (change) = "getSyllabusWiseSubjects()"
                        [ngClass]="{'is-invalid': !syllabusForm.controls['syllabus'].valid && !isValidForm}"
                          >
                        <option value="{{gradeWiseSyllabus.syllabus?.id}}" *ngFor="let gradeWiseSyllabus of gradeWiseSyllabuses">{{gradeWiseSyllabus.syllabus?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="syllabusForm.controls['syllabus'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select syllabus.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-3">
                <form [formGroup]="subjectForm">
                    <div class="form-group">
                        <label class="form-control-label" for="syllabusWiseSubject">Subject &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="subjectClicked"></i></label>
                        <select class="form-control"  required id="syllabusWiseSubject" formControlName="syllabusWiseSubject" (change) = "getSubjectWiseChapters()"
                        [ngClass]="{'is-invalid': !subjectForm.controls['syllabusWiseSubject'].valid && !isValidForm}"
                          >
                        <option value="{{syllabusWiseSubject.id}}" *ngFor="let syllabusWiseSubject of syllabusWiseSubjects">{{syllabusWiseSubject?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="subjectForm.controls['syllabusWiseSubject'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select subject.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-4">
                <form [formGroup]="chapterForm">
                    <div class="form-group">
                        <label class="form-control-label" for="subjectWiseChapter">Chapter &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="chapterClicked"></i></label>
                        <select class="form-control"  required id="subjectWiseChapter" formControlName="subjectWiseChapter" 
                        [ngClass]="{'is-invalid': !chapterForm.controls['subjectWiseChapter'].valid && !isValidForm}"
                          >
                        <option value="{{subjectWiseChapter.id}}" *ngFor="let subjectWiseChapter of subjectWiseChapters">{{subjectWiseChapter?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="chapterForm.controls['subjectWiseChapter'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select chapter.</label>
                    </div>
                </form>                
            </div>             
              <!-- Name field -->
            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-control-label" for="name">Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="name" type="text" required 
                    formControlName="name" 
                    [ngClass]="{'is-invalid': !addChapterWiseSubject.controls['name'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="addChapterWiseSubject.controls['name'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter topic name.</label>
                </div>
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>