<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5 style="margin-top: 0.8rem;"><i class="fa fa-cubes"></i>&nbsp; Fee Structures &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></h5>
          <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
           (click)="addFeeStructure()">Add Fee Structure</button>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form [formGroup]="academicSessionForm">
                        <div class="form-group">
                            <label class="form-control-label" for="academicSession">Academic Session &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedAcademicSession"></i></label>
                            <select class="form-control" required id="academicSession" formControlName="academicSession">
                                <option value="{{academicSession.id}}" *ngFor="let academicSession of academicSessions">{{academicSession.year}}</option>
                            </select>
                            <label style="color: red;"
                            *ngIf="academicSessionForm.controls['academicSession'].hasError('required') && !isValidForm"
                            class="error jquery-validation-error small form-text"
                            >Please select academic session.</label>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <form [formGroup]="schoolForm">
                        <div class="form-group">
                            <label class="form-control-label" for="school">School &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedSchool"></i></label>
                            <select class="form-control" required id="school" formControlName="school" (change)="getSchoolSchoolingPrograms(schoolForm.controls['school'].value, 'All')">
                                <option value="{{school?.uuid}}" *ngFor="let school of schools">{{school?.name}}</option>
                            </select>
                            <label style="color: red;"
                            *ngIf="schoolForm.controls['school'].hasError('required') && !isValidForm"
                            class="error jquery-validation-error small form-text"
                            >Please select school.</label>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <form [formGroup]="schoolingProgramForm">
                        <div class="form-group">
                            <label class="form-control-label" for="schoolingProgram">Schooling Program &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedSchoolingProgram"></i></label>
                            <select class="form-control" required id="schoolingProgram" formControlName="schoolingProgram">
                                <option value="{{sp.schoolingProgram?.id}}" *ngFor="let sp of schoolingPrograms">{{sp.schoolingProgram?.name}}</option>
                            </select>
                            <label style="color: red;"
                            *ngIf="schoolingProgramForm.controls['schoolingProgram'].hasError('required') && !isValidForm"
                            class="error jquery-validation-error small form-text"
                            >Please select schooling program.</label>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <form [formGroup]="batchYearForm">
                        <div class="form-group">
                            <label class="form-control-label" for="batchYear">Batch Year &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedBatchYear"></i></label>
                            <select class="form-control" required id="batchYear" formControlName="batchYear">
                                <option value="{{batchYear.id}}" *ngFor="let batchYear of batchYears">{{batchYear.batchYear}}</option>
                            </select>
                            <label style="color: red;"
                            *ngIf="batchYearForm.controls['batchYear'].hasError('required') && !isValidForm"
                            class="error jquery-validation-error small form-text"
                            >Please select batch year.</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <form [formGroup]="syllabusForm">
                        <div class="form-group">
                            <label class="form-control-label" for="syllabus">Syllabus &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedSyllabus"></i></label>
                            <select class="form-control" required id="syllabus" formControlName="syllabus" (change)="getGradeCategories(syllabusForm.controls['syllabus'].value)">
                                <option value="{{syllabus.id}}" *ngFor="let syllabus of syllabuses">{{syllabus.name}}</option>
                            </select>
                            <label style="color: red;"
                            *ngIf="syllabusForm.controls['syllabus'].hasError('required') && !isValidForm"
                            class="error jquery-validation-error small form-text"
                            >Please select syllabus.</label>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <form [formGroup]="gradeCategoryForm">
                        <div class="form-group">
                            <label class="form-control-label" for="gradeCategory">Grade Category &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedGradeCategory"></i></label>
                            <select class="form-control" required id="gradeCategory" formControlName="gradeCategory">
                                <option value="{{gradeCategory.id}}" *ngFor="let gradeCategory of gradeCategories">{{gradeCategory.name}}</option>
                            </select>
                            <label style="color: red;"
                            *ngIf="gradeCategoryForm.controls['gradeCategory'].hasError('required') && !isValidForm"
                            class="error jquery-validation-error small form-text"
                            >Please select grade category.</label>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <br/>
                    <button type="button" class="btn btn-rounded btn-primary" *ngIf="!searchClicked" 
                    (click)="filterData()"><i class="fa fa-search"></i>&nbsp;Search</button>
                    <button type="button" class="btn btn-rounded btn-primary" *ngIf="searchClicked">
                    <i class="fa fa-spin fa-spinner"></i>&nbsp;Searching...</button>
                </div>
            </div>
            <div class="table-responsive">
              <table datatable id="tblFeeStructure" class="table table-striped row-border table-hover pt-10">
                <thead>
                  <tr>
                    <th>Sno</th>
                    <th>Fee Category</th>
                    <th>Tax Applicable</th>
                    <th>Validity From</th>
                    <th>Validity To</th>
                    <th>Active</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let feeStructure of feeStructures let i=index">
                    <td>{{i+1}}</td>
                    <td>{{feeStructure?.feeCategory?.name}}</td>
                    <td>{{feeStructure?.taxApplicable == 1 ? 'Yes' : 'No'}}</td>
                    <td>{{feeStructure?.validityFrom | date : "dd/MM/yyyy"}}</td>
                    <td>{{feeStructure?.validityTo | date : "dd/MM/yyyy"}}</td>
                    <td>
                        <span [ngClass]="feeStructure.isActive? 'badge bg-success':'badge bg-danger'" (click)="updateStatus(feeStructure)" 
                        style="cursor: pointer;" title="Update Status">
                          {{feeStructure.isActive? 'Yes' : 'No' }}
                        </span>
                      </td>   
                      <td style="width:40px;text-align: right;">
                          <i class="fa fa-list" (click)="detailFeeStructure(feeStructure.uuid)"  title="Detail" style="cursor: pointer;"></i>&nbsp;
                          <i class="fa fa-trash-alt" (click)="deleteFeeStructure(feeStructure.uuid)"  title="Delete" style="cursor: pointer;"></i>
                          <!-- *ngIf="feeStructure.isExist == 0"
                            *ngIf="feeStructure.isExist == 0" -->
                      </td>
                  </tr>
                  <tr *ngIf="feeStructures.length == 0">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>No record(s) found</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        </div>
      </div>
    </div>
</div>