<div class="auth-wrapper aut-bg-img-side cotainer-fiuid align-items-stretch">
  <div class="row align-items-center w-100 align-items-stretch bg-white">
    <div class="d-none d-lg-flex col-lg-8 aut-bg-img align-items-center d-flex justify-content-center">
      <div class="col-md-8">
        <!-- <h1 class="text-white mb-5">Login in Datta Able</h1>
        <p class="text-white">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
          ever.
        </p> -->
      </div>
    </div>
    <div class="col-lg-4 align-items-stret h-100 align-items-center d-flex justify-content-center">
      <div class="auth-content">
        <div class="mb-4 text-center">
          <img src="../../../../../assets/images/login/login-logo.png" style="width: 300px;"/>
        </div>
        <h3 class="mb-4 text-center">Reset Password</h3>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" autoComplete="off">
          <div class="form-group mb-3">
            <input type="email" formControlName="email" required class="form-control" placeholder="Email" 
            [ngClass]="{'is-invalid': !resetForm.controls['email'].valid && !isValidForm}"/>      
            <label style="color: red;"
            *ngIf="resetForm.controls['email'].hasError('required') && !isValidForm"
            class="error jquery-validation-error small form-text"
            >Enter email</label>
          </div>
          <div class="text-center">
            <button class="btn btn-primary mb-4" type="submit" *ngIf="!resetClicked">Reset Password</button>
            <button class="btn btn-primary mb-4 text-center" type="button" *ngIf="resetClicked"><i class="fa fa-spin fa-spinner"></i>&nbsp;Processing, Please wait... </button>
          </div>          
        </form>
        <p class="mb-0 text-muted text-center">Have an account? <a [routerLink]="['/auth/signin']">Sign in</a></p>
      </div>
    </div>
  </div>
</div>
