<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" style="padding: 10px 25px;">
          <h5 style="margin-top: 0.8rem;"><i class="fa fa-plus"></i>&nbsp;Add Lession Plan&nbsp;
            <span class="badge bg-primary"> Academic Year : {{academicYear.year}}</span>
          </h5>
          <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
           (click)="back()">Back</button>
        </div>
        <div class="card-body">
            <div class="row">
                <ul class="nav nav-pills" style="padding: 5px;" ngbNav #nav1="ngbNav">
                    <li class="nav-item" [ngbNavItem]="1">
                        <a class="nav-link disabled" ngbNavLink aria-controls="pills-home" aria-selected="true" href="#">Lesson Plan</a>
                        <ng-template ngbNavContent>
                            <form [formGroup]="lessonPlanMasterForm" id="lessonPlanMasterForm" (ngSubmit)="nextTab(nav1, 2)" autocomplete="off">
                                <div class="row">
                                    <div class="col-md-2">
                                        <form [formGroup]="gradeForm">
                                            <div class="form-group">
                                                <label class="form-control-label" for="grade">Grade&nbsp;<span style="color: red;">*</span>&nbsp;
                                                    <i class="fa fa-spin fa-spinner" *ngIf="searchGrade"></i>
                                                </label>
                                                <select class="form-control" id="grade" required formControlName="grade" (change) = "getAssignedGradeSubjects()" [ngClass]="{'is-invalid': !gradeForm.controls['grade'].valid && !isValidForm1}">
                                                    <option value="{{grade.id}}" *ngFor="let grade of grades">{{grade.name}}</option>
                                                </select>
                                                <label style="color: red;"
                                                *ngIf="gradeForm.controls['grade'].hasError('required') && !isValidForm1"
                                                class="error jquery-validation-error small form-text"
                                                >Please select grade.</label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-2">
                                        <form [formGroup]="subjectForm">
                                            <div class="form-group">
                                                <label class="form-control-label" for="subject">Subject&nbsp;<span style="color: red;">*</span>&nbsp;
                                                    <i class="fa fa-spin fa-spinner" *ngIf="searchSubject"></i>
                                                </label>
                                                <select class="form-control" id="subject" required formControlName="subject" (change)="getChapters()"  [ngClass]="{'is-invalid': !subjectForm.controls['subject'].valid && !isValidForm1}">
                                                    <option value="{{subject.uuid}}" *ngFor="let subject of subjects">{{subject.name}}</option>
                                                </select>
                                                <label style="color: red;"
                                                *ngIf="subjectForm.controls['subject'].hasError('required') && !isValidForm1"
                                                class="error jquery-validation-error small form-text"
                                                >Please select subject.</label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <form [formGroup]="chapterForm">
                                            <div class="form-group">
                                                <label class="form-control-label" for="chapter">Chapter&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchChapter"></i>
                                                </label>
                                                <select class="form-control" id="chapter" required formControlName="chapter" (change)="getTopics()" 
                                                [ngClass]="{'is-invalid': !chapterForm.controls['chapter'].valid && !isValidForm1}">
                                                    <option value="{{chapter.uuid}}" *ngFor="let chapter of chapters">{{chapter.name}}</option>
                                                </select>
                                                <label style="color: red;"
                                                *ngIf="chapterForm.controls['chapter'].hasError('required') && !isValidForm1"
                                                class="error jquery-validation-error small form-text"
                                                >Please select chapter.</label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <form [formGroup]="topicForm">
                                            <div class="form-group">
                                                <label class="form-control-label" for="topic">Topic&nbsp;<span style="color: red;">*</span>&nbsp;
                                                    <i class="fa fa-spin fa-spinner" *ngIf="searchTopic"></i></label>
                                                <select class="form-control" id="topic" required formControlName="topic" 
                                                [ngClass]="{'is-invalid': !topicForm.controls['topic'].valid && !isValidForm1}">
                                                    <option value="{{topic.uuid}}" *ngFor="let topic of topics">{{topic.name}}</option>
                                                </select>
                                                <label style="color: red;"
                                                *ngIf="topicForm.controls['topic'].hasError('required') && !isValidForm1"
                                                class="error jquery-validation-error small form-text"
                                                >Please select topic.</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="form-control-label" for="duration">Duration (In Min.)&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="durationClicked"></i></label>
                                            <input class="form-control input-md" id="duration" type="text" required readonly
                                            formControlName="duration"
                                            [ngClass]="{'is-invalid': !lessonPlanMasterForm.controls['duration'].valid && !isValidForm1}"/>
                                            <label style="color: red;"
                                            *ngIf="lessonPlanMasterForm.controls['duration'].hasError('required') && !isValidForm1"
                                            class="error jquery-validation-error small form-text"
                                            >Please enter duration.</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="form-control-label" for="numberOfPeriods">Total Periods&nbsp;<span style="color: red;">*</span></label>
                                            <input class="form-control input-md" id="numberOfPeriods" type="text" required  maxlength="3"  formControlName="numberOfPeriods" pattern="^\d{1,2}" 
                                            [ngClass]="{'is-invalid': !lessonPlanMasterForm.controls['numberOfPeriods'].valid && !isValidForm1}"/>
                                            <label style="color: red;"
                                            *ngIf="lessonPlanMasterForm.controls['numberOfPeriods'].hasError('required') && !isValidForm1"
                                            class="error jquery-validation-error small form-text"
                                            >Please enter total periods.</label>
                                            <label style="color: red;"
                                            *ngIf="lessonPlanMasterForm.controls['numberOfPeriods'].hasError('pattern') && !isValidForm"
                                            class="error jquery-validation-error small form-text"
                                            >Please enter valid total periods</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="prerequisite">Prerequisites&nbsp;<span style="color: red;">*</span></label>
                                            <input class="form-control input-md" id="prerequisite" type="text" required 
                                            formControlName="prerequisite"
                                            [ngClass]="{'is-invalid': !lessonPlanMasterForm.controls['prerequisite'].valid && !isValidForm1}"/>
                                            <label style="color: red;"
                                            *ngIf="lessonPlanMasterForm.controls['prerequisite'].hasError('required') && !isValidForm1"
                                            class="error jquery-validation-error small form-text"
                                            >Please enter prerequisite.</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="skills">Skills&nbsp;<span style="color: red;">*</span></label>
                                            <input class="form-control input-md" id="skills" type="text" required maxlength="200"
                                            formControlName="skills"
                                            [ngClass]="{'is-invalid': !lessonPlanMasterForm.controls['skills'].valid && !isValidForm1}"/>
                                            <label style="color: red;"
                                            *ngIf="lessonPlanMasterForm.controls['skills'].hasError('required') && !isValidForm1"
                                            class="error jquery-validation-error small form-text"
                                            >Please enter skills.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="form-control-label" for="methodology">Methodology/Approach&nbsp;<span style="color: red;">*</span></label>
                                            <input class="form-control input-md" id="methodology" type="text" required maxlength="200"
                                            formControlName="methodology"
                                            [ngClass]="{'is-invalid': !lessonPlanMasterForm.controls['methodology'].valid && !isValidForm1}"/>
                                            <label style="color: red;"
                                            *ngIf="lessonPlanMasterForm.controls['methodology'].hasError('required') && !isValidForm1"
                                            class="error jquery-validation-error small form-text"
                                            >Please enter methodology.</label>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="form-control-label" for="learningOutcome">Learning Outcome&nbsp;<span style="color: red;">*</span></label>
                                            <textarea class="form-control input-md" id="learningOutcome" required rows="3"
                                            formControlName="learningOutcome"
                                            [ngClass]="{'is-invalid': !lessonPlanMasterForm.controls['learningOutcome'].valid && !isValidForm1}">
                                            </textarea>
                                            <label style="color: red;"
                                            *ngIf="lessonPlanMasterForm.controls['learningOutcome'].hasError('required') && !isValidForm1"
                                            class="error jquery-validation-error small form-text"
                                            >Please enter learningOutcome.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-end">
                                        <button type="submit" class="btn btn-rounded btn-primary">
                                            Next&nbsp;<i class="fa fa-angle-double-right" style="margin-right: 0px;"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="2">
                        <a class="nav-link disabled" ngbNavLink aria-controls="pills-home" aria-selected="true" href="#">Description of Topic</a>
                        <ng-template ngbNavContent>
                            <form [formGroup]="lessonPlanDescriptionForm" id="lessonPlanDescriptionForm" (ngSubmit)="addLessionPlanDescription()" autocomplete="off">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="sequence">Sequence&nbsp;<span style="color: red;">*</span></label>
                                                <textarea class="form-control input-md" id="sequence" required rows="3" 
                                                formControlName="sequence" style="white-space: pre-wrap;"
                                                [ngClass]="{'is-invalid': !lessonPlanDescriptionForm.controls['sequence'].valid && !isValidForm2}">
                                                </textarea>
                                                <label style="color: red;"
                                                *ngIf="lessonPlanDescriptionForm.controls['sequence'].hasError('required') && !isValidForm2"
                                                class="error jquery-validation-error small form-text"
                                                >Please enter sequence.</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="teachingAid">Teaching Aid&nbsp;<span style="color: red;">*</span></label>
                                                <textarea class="form-control input-md" id="teachingAid" required rows="3"
                                                formControlName="teachingAid"
                                                [ngClass]="{'is-invalid': !lessonPlanDescriptionForm.controls['teachingAid'].valid && !isValidForm2}">
                                                </textarea>
                                                <label style="color: red;"
                                                *ngIf="lessonPlanDescriptionForm.controls['teachingAid'].hasError('required') && !isValidForm2"
                                                class="error jquery-validation-error small form-text"
                                                >Please enter teaching aid.</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="resource">Resources&nbsp;<span style="color: red;">*</span></label>
                                                <br/>
                                                <tag-input 
                                                [ngClass]="'tag-select'"
                                                theme="bootstrap"
                                                [placeholder]="'+'"
                                                formControlName="curriculumUploads"
                                                [addOnBlur]="true"
                                                [clearOnBlur]="true" (keypress)="$event.preventDefault()">
                                                </tag-input>
                                                <label style="color: red;"
                                                *ngIf="lessonPlanDescriptionForm.controls['curriculumUploads'].hasError('required') && !isValidForm2"
                                                class="error jquery-validation-error small form-text"
                                                >Please select resource.</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-end">
                                            <button type="submit" class="btn btn-rounded btn-primary">
                                                Add
                                            </button>
                                            <button type="button" class="btn btn-rounded btn-danger" *ngIf="editIndex > -1" (click)="cancelEdit('Description')">
                                                Cancel
                                            </button>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped row-border table-hover pt-0">
                                                <thead>
                                                    <tr>
                                                    <th>Sno</th>
                                                    <th>Sequence</th>
                                                    <th>Teaching Aid</th>
                                                    <th>Resources</th>
                                                    <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let lessonPlanDescription of lessonPlanDescriptions let i=index" style="height: 10px;">
                                                    <td>{{i+1}}</td>
                                                    <td [innerHtml]="lessonPlanDescription.sequence | safeHtml"></td>
                                                    <td [innerHtml]="lessonPlanDescription.teachingAid | safeHtml"></td>
                                                    <td>
                                                        <span *ngFor="let curriculumUpload of lessonPlanDescription.curriculumUploads let k=index">
                                                            <label class="badge bg-dark">
                                                                {{curriculumUpload?.fileName | slice : 0 : 40}}...
                                                            </label><br/>
                                                        </span>
                                                    </td>
                                                    <td style="width:40px;text-align: right;">
                                                        <i class="fa fa-edit" (click)="editLessonPlanDescription(lessonPlanDescription, i)"
                                                        title="Edit" style="cursor: pointer;"></i>&nbsp;
                                                        <i class="fa fa-trash-alt" (click)="deleteLessonPlanDescription(i)"
                                                        title="Delete" style="cursor: pointer;"></i>
                                                    </td>                                              
                                                    </tr>
                                                </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h5><i class="fa fa-folder-open"></i>&nbsp;Browse Resources&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchResource"></i></h5>
                                        <app-card cardTitle="Browse Resources" [options]="false">
                                            <div class="form-group">
                                                <input class="form-control rounded-pill" type="text" placeholder="Search Resource"
                                                [(ngModel)]="resourceSearch" [ngModelOptions]="{standalone: true}"/>
                                            </div>
                                            <div style="height: 300px;overflow: auto;text-align: center;">
                                                <a href="javascript:" class="btn btn-sm col-md-5 rounded-pill btn-outline-dark text-dark" 
                                                style="text-align: left;background-color: white;" (click)="selectedResource(curriculumUpload)"
                                                *ngFor="let curriculumUpload of curriculumUploads |curriculumResourceFilter : resourceSearch">
                                                    <img src="assets/images/resource_icons/pdf.png" *ngIf="curriculumUpload.fileExtension=='pdf'" width="20">
                                                    <img src="assets/images/resource_icons/ms_word.png" *ngIf="curriculumUpload.fileExtension=='docx'" width="20">
                                                    <img src="assets/images/resource_icons/ms_excel.png" *ngIf="curriculumUpload.fileExtension=='xlsx'" width="20">
                                                    <img src="assets/images/resource_icons/ms_ppt.png" *ngIf="curriculumUpload.fileExtension=='pptx'" width="20">
                                                    <img src="assets/images/resource_icons/mp4.png" *ngIf="curriculumUpload.fileExtension=='mp4'" width="20">
                                                    <img src="assets/images/resource_icons/mp3.png" *ngIf="curriculumUpload.fileExtension=='mp3'" width="20">
                                                    <img src="assets/images/resource_icons/url_image.png" *ngIf="curriculumUpload.fileExtension=='https://'" width="20">
                                                    <img src="assets/images/resource_icons/png_image.png" *ngIf="curriculumUpload.fileExtension=='png'" width="20">
                                                    <img src="assets/images/resource_icons/jpg_image.png" *ngIf="curriculumUpload.fileExtension=='jpg' 
                                                    || curriculumUpload.fileExtension=='jpeg'" width="20">
                                                    &nbsp;
                                                    <span class="badge" style="top:0px;padding:0px;color:black;" title="{{curriculumUpload.fileName}}">
                                                        {{curriculumUpload.fileName | slice: 0:20}}...
                                                    </span>
                                                </a>
                                                <label class="col-md-12" *ngIf="curriculumUploads.length == 0">
                                                    No Resources Found
                                                </label>
                                            </div>
                                        </app-card>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-end">
                                        <button type="button" class="btn btn-rounded btn-primary" (click)="prevTab(nav1, 1)" *ngIf="!saveClicked">
                                            <i class="fa fa-angle-double-left" style="margin-right: 0px;"></i>&nbsp;Previous
                                        </button>
                                        <button type="button" class="btn btn-rounded btn-success" (click)="saveLessionPlan()" *ngIf="!saveClicked">
                                            <i class="fa fa-save" style="margin-right: 0px;"></i>&nbsp;Save
                                        </button>
                                        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
                                            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
                                    </div>
                                </div>
                            </form>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav1"></div>
            </div>
            
        </div>
      </div>
    </div>
</div>

