<div class="modal-header">
    <h5 class="modal-title" id="chapterAddModal"><i class="fa fa-plus"></i>&nbsp;Add Chapter</h5>
     <!-- <div>{{addChapterForm.value | json}}</div> -->
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="addChapterForm" id="addChapterForm" (ngSubmit)="saveChapter()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-3">
                <form [formGroup]="syllabusForm">
                    <div class="form-group">
                        <label class="form-control-label" for="syllabus">Syllabus &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="syllabusClicked"></i></label>
                        <select class="form-control"  required id="syllabus" formControlName="syllabus" (change) = "getGradeCategories(syllabusForm.controls['syllabus'].value)"
                        [ngClass]="{'is-invalid': !syllabusForm.controls['syllabus'].valid && !isValidForm}">
                        <option value="{{syllabus?.id}}" *ngFor="let syllabus of syllabuses">{{syllabus?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="syllabusForm.controls['syllabus'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select syllabus.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-3">
                <form [formGroup]="gradeCategoryForm">
                    <div class="form-group">
                        <label class="form-control-label" for="gradeCategory">Grade Category &nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="gradeCategory" formControlName="gradeCategory" (change) ="getGrades()"
                        [ngClass]="{'is-invalid': !gradeCategoryForm.controls['gradeCategory'].valid && !isValidForm}"
                          >
                        <option value="{{gradeCategory.id}}" *ngFor="let gradeCategory of gradeCategories">{{gradeCategory?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="gradeCategoryForm.controls['gradeCategory'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select grade category.</label>
                    </div>
                </form>                
            </div>
            <div class="col-md-3">
                <form [formGroup]="gradeForm">
                    <div class="form-group">
                        <label class="form-control-label" for="grade">Grade &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="gradeClicked"></i></label>
                        <select class="form-control"  required id="grade" formControlName="grade" (change) = "getSubjects()"
                        [ngClass]="{'is-invalid': !gradeForm.controls['grade'].valid && !isValidForm}" 
                          >
                        <option value="{{grade.id}}" *ngFor="let grade of grades">{{grade?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="gradeForm.controls['grade'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select grade.</label>
                    </div>
                </form>                
            </div>             
            <div class="col-md-3">
                <form [formGroup]="subjectForm">
                    <div class="form-group">
                        <label class="form-control-label" for="subject">Subject &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="subjectClicked"></i></label>
                        <select class="form-control"  required id="subject" formControlName="subject" 
                        [ngClass]="{'is-invalid': !subjectForm.controls['subject'].valid && !isValidForm}"
                          >
                        <option value="{{subject.id}}" *ngFor="let subject of subjects">{{subject?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="subjectForm.controls['subject'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select subject.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-2 mt-4">
                <div class="form-group">
                    <div class="checkbox d-inline">
                      <input type="checkbox" name="checkbox-1" id="checkbox-1" (change)="getChange($event)"/>
                      <label for="checkbox-1" class="cr">Upload Excel</label>
                    </div>
                </div>
            </div>  
            <!-- Name field -->
            <div class="col-md-7" *ngIf = "!isChecked">
                <div class="form-group">
                    <label class="form-control-label" for="names">Names&nbsp;<span style="color: red;">*</span></label>
                    <tag-input class="tag-chips" [(ngModel)]="names" formControlName="name" [modelAsStrings]="true" (keyup.enter)="onEnterKey($event)"></tag-input>
                    <label style="color: red;"
                    *ngIf="addChapterForm.controls['name'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter name.</label>
                </div>
            </div>  
             <!-- upload excel -->  
             <div class="col-md-6" *ngIf="isChecked">
                <div class="form-file mb-3">
                    <label for="uploadFile">Upload Excel&nbsp;<span style="color: red;">*</span></label>
                    <span (click)="getDocuments('Chapter')" class="badge btn-outline-danger m-1" style="float: right; border-style: solid; border-width: 1px; cursor: pointer;">Download Excel</span>
                    <input type="file" id="uploadFile" class="form-control" formControlName="uploadFile" (change)="fileChange($event)" [accept]="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" [multiple]="false"
                    [ngRequired]="isChecked" [ngClass]="{'is-invalid': !addChapterForm.controls['uploadFile'].valid && !isValidForm}" />
                    <label style="color: red;"
                    *ngIf="addChapterForm.controls['uploadFile'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please upload file.</label>
                </div>
            </div>  
            <div class="col-md-3">
                <form [formGroup]="applicableFromYearForm">
                    <div class="form-group">
                        <label class="form-control-label" for="applicableFromYear">Applicable From Year &nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="applicableFromYear" formControlName="applicableFromYear"
                        [ngClass]="{'is-invalid': !applicableFromYearForm.controls['applicableFromYear'].valid && !isValidForm}">
                        <option value="{{academicSession.id}}" *ngFor="let academicSession of academicSessions">{{academicSession?.year}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="applicableFromYearForm.controls['applicableFromYear'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select applicable from year.</label>
                    </div>
                </form>                
            </div>   
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>