<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" style="padding: 10px 25px;">
          <h5 style="margin-top: 0.8rem;"><i class="fa fa-file"></i>&nbsp;Curriculum Detail
            <span [ngClass]="checkStatus()">{{curriculumUpload.status}}</span>
          </h5>
          <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
           (click)="back()">Back</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Academic Year</label>
                        <label class="form-control">{{curriculumUpload.curriculum?.academicYear?.year}}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>School</label>
                        <label class="form-control">{{curriculumUpload.curriculum?.school?.name}}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Grade</label>
                        <label class="form-control">{{curriculumUpload.curriculum?.grade?.name}}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Subject</label>
                        <label class="form-control">{{curriculumUpload.curriculum?.subject?.name}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Chapter</label>
                        <label class="form-control">{{curriculumUpload.curriculum?.chapter?.name}}</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Topic</label>
                        <label class="form-control">{{curriculumUpload.curriculum?.topic?.name}}</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>File Name</label>
                        <label class="form-control">{{curriculumUpload.fileName}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Material Type</label>
                        <label class="form-control">{{curriculumUpload.materialType?.name}}</label>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="curriculumUpload.status == 'Uploaded'">
                    <div class="form-group">
                        <label>Uploaded On</label>
                        <label class="form-control">{{curriculumUpload.uploadedOn | date : "dd-MMM-yyyy"}}</label>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="curriculumUpload.status == 'Uploaded'">
                    <div class="form-group">
                        <label>Uploaded By</label>
                        <label class="form-control">{{curriculumUpload.uploadedBy?.fullName}}</label>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="curriculumUpload.status == 'Verified'">
                    <div class="form-group">
                        <label>Verified On</label>
                        <label class="form-control">{{curriculumUpload.verifiedOn | date : "dd-MMM-yyyy"}}</label>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="curriculumUpload.status == 'Verified'">
                    <div class="form-group">
                        <label>Verified By</label>
                        <label class="form-control">{{curriculumUpload.verifiedBy?.fullName}}</label>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="curriculumUpload.status == 'Published'">
                    <div class="form-group">
                        <label>Published On</label>
                        <label class="form-control">{{curriculumUpload.publishedOn | date : "dd-MMM-yyyy"}}</label>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="curriculumUpload.status == 'Published'">
                    <div class="form-group">
                        <label>Published By</label>
                        <label class="form-control">{{curriculumUpload.publishedBy?.fullName}}</label>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="curriculumUpload.status == 'Rejected'">
                    <div class="form-group">
                        <label>Rejected On</label>
                        <label class="form-control">{{curriculumUpload.rejectedOn | date : "dd-MMM-yyyy"}}</label>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="curriculumUpload.status == 'Rejected'">
                    <div class="form-group">
                        <label>Rejected By</label>
                        <label class="form-control">{{curriculumUpload.rejectedBy?.fullName}}</label>
                    </div>
                </div>
            </div>
        </div>        
      </div>
      <div class="card" *ngIf="urlCurriculumFile != ''">
        <h5 class="p-1"><a href="{{curriculumUpload.fileName}}" target="_blank">Click here to open resource</a></h5>
      </div>
      <div class="card" *ngIf="urlCurriculumFile == ''" [style]="otherCurriculumFile ? 'width: 100%;height: 100%;' : ''">
            <video id="my_video_1" width='100%' height='50%' autoplay
                controls controlsList="nodownload" preload="none" *ngIf="videoCurriculumFile" 
                data-setup='{ "aspectRatio":"100%" }'>
                    <source [src]="videoCurriculumFile" type='video/mp4' />
            </video>
            <audio controls controlsList="nodownload" autoplay
                *ngIf="audioCurriculumFile">
                    <source [src]="audioCurriculumFile">
            </audio>
            <img *ngIf="imageCurriculumFile" [src]="imageCurriculumFile" style="max-width: 100%;" />
            <iframe sandbox="allow-scripts allow-same-origin" *ngIf="otherCurriculumFile" [src]="otherCurriculumFile" width='100%' height='100%' frameborder="0"></iframe>
      </div>
    </div>
</div>
