<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" style="padding: 10px 25px;">
          <h5 style="margin-top: 0.8rem;"><i class="fa fa-globe-americas"></i>&nbsp; State/Regions &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></h5>
          <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
           (click)="addStateRegion()">Add State/Region</button>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <form [formGroup]="countryForm">
                    <div class="form-group">
                        <label class="form-control-label" for="country">Country&nbsp; <span style="color: red;">*</span></label>
                        <select class="form-control" required id="country" formControlName="country">
                            <option value="{{country.id}}" *ngFor="let country of countries">{{country.name}}</option>
                        </select>
                    </div>
                </form>
              </div>
              <!-- search button -->
              <div class="col-md-3">
                <br/>
                <button type="button" class="btn btn-rounded btn-primary" *ngIf="!searchClicked" 
                (click)="filterData()"><i class="fa fa-search"></i>&nbsp;Search</button>
                <button type="button" class="btn btn-rounded btn-primary" *ngIf="searchClicked">
                  <i class="fa fa-spin fa-spinner"></i>&nbsp;Searching...</button>
              </div>
            </div>
  
            <div class="table-responsive">
              <table datatable id="tblStateRegion" class="table table-striped row-border table-hover pt-10">
                <thead>
                  <tr>
                    <th>Sno</th>
                    <th>State/Region</th>
                    <th>Country</th>
                    <th>Active</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stateRegion of stateRegions let i=index">
                    <td>{{i+1}}</td>
                    <td>{{stateRegion.name}}</td>
                    <td>{{stateRegion.country.name}}</td>
                    <td>
                      <span [ngClass]="stateRegion.isActive? 'badge bg-success':'badge bg-danger'" (click)="updateStatus(stateRegion)" 
                      style="cursor: pointer;" title="Update Status">
                        {{stateRegion.isActive? 'Yes' : 'No' }}
                      </span>
                    </td>   
                    <td style="width:40px;text-align: right;">
                      <i class="fa fa-trash-alt" (click)="deleteStateRegion(stateRegion)" *ngIf="stateRegion.isExist == 0"
                      title="Delete" style="cursor: pointer;"></i>&nbsp;
                      <i class="fa fa-edit" (click)="editStateRegion(stateRegion)" title="Edit" style="cursor: pointer;"></i>&nbsp;
                    </td>
                  </tr>
                  <tr *ngIf="stateRegions.length == 0">
                    <td></td>
                    <td></td>
                    <td>No record(s) found</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        </div>
      </div>
    </div>
</div>