<div class="modal-header">
    <h5 class="modal-title" id="academyEnclosureDocumentAddModal"><i class="fa fa-plus"></i>&nbsp;Add Academy Enclosure Document</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="addAcademyForm" id="addAcademyForm" (ngSubmit)="saveAcademyEnclosureDocument()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="name">Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="name" type="text" required 
                    formControlName="name" 
                    [ngClass]="{'is-invalid': !addAcademyForm.controls['name'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="addAcademyForm.controls['name'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter document name.</label>
                </div>                
            </div> 
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="isCompulsory">Is Compulsory&nbsp;<span style="color: red;">*</span></label>
                    <select class="form-control input-md" required id="isCompulsory" formControlName="isCompulsory"
                    [ngClass]="{'is-invalid': !addAcademyForm.controls['isCompulsory'].valid && !isValidForm}">
                        <option value="{{isCompulsory.id}}"
                        *ngFor="let isCompulsory of isCompulsories">
                        {{isCompulsory.name}}
                        </option>
                    </select>
                    <label style="color: red;"
                    *ngIf="addAcademyForm.controls['isCompulsory'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please select Document.</label>
                </div>        
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>