<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5 style="margin-top: 0.8rem;"><i class="fa fa-calculator"></i>&nbsp; Fee Types &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></h5>
          <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
           (click)="addFeeType()">Add Fee Type</button>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table datatable id="tblFeeType" class="table table-striped row-border table-hover pt-10">
                <thead>
                  <tr>
                    <th>Sno</th>
                    <th>Fee Type</th>
                    <th>Code</th>
                    <th>Active</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let feeType of feeTypes let i=index">
                    <td>{{i+1}}</td>
                    <td>{{feeType.name}}</td>
                    <td>{{feeType.code}}</td>                    
                    <td>
                      <span [ngClass]="feeType.isActive? 'badge bg-success':'badge bg-danger'" (click)="updateStatus(feeType)" 
                      style="cursor: pointer;" title="Update Status">
                        {{feeType.isActive? 'Yes' : 'No' }}
                      </span>
                    </td>   
                    <td style="width:40px;text-align: right;">
                        <i class="fa fa-edit" (click)="editFeeType(feeType)" *ngIf="feeType.isExist == 0" title="Edit" style="cursor: pointer;"></i>&nbsp;
                        <i class="fa fa-trash-alt" (click)="deleteFeeType(feeType)" *ngIf="feeType.isExist == 0" title="Delete" style="cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr *ngIf="feeTypes.length == 0">
                    <td></td>
                    <td></td>
                    <td>No record(s) found</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        </div>
      </div>
    </div>
</div>