<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 style="margin-top: 0.8rem;"><i class="fa fa-users"></i>&nbsp;Users&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i>
                <span class="badge bg-info">{{users.length}}</span>
                </h5>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" ngbNav #nav="ngbNav">
                    <li class="nav-item" [ngbNavItem]="1">
                        <a class="nav-link text-uppercase" aria-controls="home" aria-selected="true" ngbNavLink>      
                        Active&nbsp;<span class="badge bg-info">{{activeUsers.length}}</span>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="table-responsive">
                                <table datatable id="tblActiveUser" class="table table-striped row-border table-hover pt-10">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Full Name</th>
                                            <th>Gender</th>
                                            <th>Email</th>
                                            <th>Mobile</th>
                                            <th>Grade</th>
                                            <th>Category</th>
                                            <th>Password</th>
                                            <th>Active</th>
                                            <th>Is Admin Approved</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of activeUsers let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{user.fullName}}</td>
                                            <td>{{user.gender}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.mobile}}</td>
                                            <td>{{user.userGrade?.name}}</td>
                                            <td>{{user.userCategory?.name}}</td>
                                            <td>
                                                <i class="fa fa-eye-slash" id="togglePassword_{{i}}" 
                                                style="cursor:pointer;position: relative;" (click)="applyTogglePassword(i)"></i>
                                                &nbsp;<input type="password" id="password_{{i}}" value="{{user.password}}" 
                                                style="background: transparent;border: none;"/>
                                            </td>
                                            <td>
                                                <span [ngClass]="user.isActive ? 'badge bg-success' : 'badge bg-danger'">
                                                {{user.isActive ? 'Yes' : 'No'}}
                                                </span>
                                            </td>
                                            <td *ngIf = "user.isAdminApproved == null"></td>
                                            <td *ngIf = "user.isAdminApproved != null">
                                                <span [ngClass]="user.isAdminApproved ? 'badge bg-success' : 'badge bg-danger'">
                                                <i class="{{user.isAdminApproved ? 'fa fa-user-check' : 'fa fa-user-times'}}"></i>
                                                {{user.isAdminApproved ? 'Yes' : 'No'}}
                                                </span>
                                            </td>
                                            <td style="width:40px;text-align: right;">
                                                <i class="fa fa-list" (click)="detailUser(user.uuid)" title="Detail" style="cursor: pointer;"></i>
                                            </td>
                                        </tr>
                                        <tr *ngIf="activeUsers.length == 0">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>No record(s) found</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="2">
                        <a class="nav-link text-uppercase" aria-controls="user1" aria-selected="true" ngbNavLink>      
                        Deactive&nbsp;<span class="badge bg-info">{{deActiveUsers.length}}</span>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="table-responsive">
                                <table datatable id="tblDeactiveUser" class="table table-striped row-border table-hover pt-10">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Full Name</th>
                                            <th>Gender</th>
                                            <th>Email</th>
                                            <th>Mobile</th>
                                            <th>Grade</th>
                                            <th>Category</th>
                                            <th>Password</th>
                                            <th>Active</th>
                                            <th>Is Admin Approved</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of deActiveUsers let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{user.fullName}}</td>
                                            <td>{{user.gender}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.mobile}}</td>
                                            <td>{{user.userGrade?.name}}</td>
                                            <td>{{user.userCategory?.name}}</td>
                                            <td>
                                                <i class="fa fa-eye-slash" id="togglePassword_{{i}}" 
                                                style="cursor:pointer;position: relative;" (click)="applyTogglePassword(i)"></i>
                                                &nbsp;<input type="password" id="password_{{i}}" value="{{user.password}}" 
                                                style="background: transparent;border: none;"/>
                                            </td>
                                            <td>
                                                <span [ngClass]="user.isActive ? 'badge bg-success' : 'badge bg-danger'">
                                                {{user.isActive ? 'Yes' : 'No'}}
                                                </span>
                                            </td>
                                            <td *ngIf = "user.isAdminApproved == null"></td>
                                            <td *ngIf = "user.isAdminApproved != null">
                                                <span [ngClass]="user.isAdminApproved ? 'badge bg-success' : 'badge bg-danger'">
                                                <i class="{{user.isAdminApproved ? 'fa fa-user-check' : 'fa fa-user-times'}}"></i>
                                                {{user.isAdminApproved ? 'Yes' : 'No'}}
                                                </span>
                                            </td>
                                            <td style="width:40px;text-align: right;">
                                                <i class="fa fa-list" (click)="detailUser(user.uuid)" title="Detail" style="cursor: pointer;"></i>
                                            </td>
                                        </tr>
                                        <tr *ngIf="deActiveUsers.length == 0">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>No record(s) found</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="3">
                        <a class="nav-link text-uppercase" aria-controls="user2" aria-selected="true" ngbNavLink>      
                        Pending&nbsp;<span class="badge bg-info">{{pendingUsers.length}}</span>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="table-responsive">
                                <table datatable id="tblPendingUser" class="table table-striped row-border table-hover pt-10">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Full Name</th>
                                            <th>Gender</th>
                                            <th>Email</th>
                                            <th>Mobile</th>
                                            <th>Grade</th>
                                            <th>Category</th>
                                            <th>Password</th>
                                            <th>Active</th>
                                            <th>Is Admin Approved</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of pendingUsers let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{user.fullName}}</td>
                                            <td>{{user.gender}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.mobile}}</td>
                                            <td>{{user.userGrade?.name}}</td>
                                            <td>{{user.userCategory?.name}}</td>
                                            <td>
                                                <i class="fa fa-eye-slash" id="togglePassword_{{i}}" 
                                                style="cursor:pointer;position: relative;" (click)="applyTogglePassword(i)"></i>
                                                &nbsp;<input type="password" id="password_{{i}}" value="{{user.password}}" 
                                                style="background: transparent;border: none;"/>
                                            </td>
                                            <td>
                                                <span [ngClass]="user.isActive ? 'badge bg-success' : 'badge bg-danger'">
                                                {{user.isActive ? 'Yes' : 'No'}}
                                                </span>
                                            </td>
                                            <td *ngIf = "user.isAdminApproved == null"></td>
                                            <td *ngIf = "user.isAdminApproved != null">
                                                <span [ngClass]="user.isAdminApproved ? 'badge bg-success' : 'badge bg-danger'">
                                                <i class="{{user.isAdminApproved ? 'fa fa-user-check' : 'fa fa-user-times'}}"></i>
                                                {{user.isAdminApproved ? 'Yes' : 'No'}}
                                                </span>
                                            </td>
                                            <td style="width:40px;text-align: right;">
                                                <i class="fa fa-list" (click)="detailUser(user.uuid)" title="Detail" style="cursor: pointer;"></i>
                                            </td>
                                        </tr>
                                        <tr *ngIf="pendingUsers.length == 0">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>No record(s) found</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="4">
                        <a class="nav-link text-uppercase" aria-controls="user2" aria-selected="true" ngbNavLink>      
                        Deactive By HR Admin&nbsp;<span class="badge bg-info">{{deActiveHRUsers.length}}</span>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="table-responsive">
                                <table datatable id="tblDeactiveHRUser" class="table table-striped row-border table-hover pt-10">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Full Name</th>
                                            <th>Gender</th>
                                            <th>Email</th>
                                            <th>Mobile</th>
                                            <th>Grade</th>
                                            <th>Category</th>
                                            <th>Password</th>
                                            <th>Active</th>
                                            <th>Is Admin Approved</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of deActiveHRUsers let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{user.fullName}}</td>
                                            <td>{{user.gender}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.mobile}}</td>
                                            <td>{{user.userGrade?.name}}</td>
                                            <td>{{user.userCategory?.name}}</td>
                                            <td>
                                                <i class="fa fa-eye-slash" id="togglePassword_{{i}}" 
                                                style="cursor:pointer;position: relative;" (click)="applyTogglePassword(i)"></i>
                                                &nbsp;<input type="password" id="password_{{i}}" value="{{user.password}}" 
                                                style="background: transparent;border: none;"/>
                                            </td>
                                            <td>
                                                <span [ngClass]="user.isActive ? 'badge bg-success' : 'badge bg-danger'">
                                                {{user.isActive ? 'Yes' : 'No'}}
                                                </span>
                                            </td>
                                            <td *ngIf = "user.isAdminApproved == null"></td>
                                            <td *ngIf = "user.isAdminApproved != null">
                                                <span [ngClass]="user.isAdminApproved ? 'badge bg-success' : 'badge bg-danger'">
                                                <i class="{{user.isAdminApproved ? 'fa fa-user-check' : 'fa fa-user-times'}}"></i>
                                                {{user.isAdminApproved ? 'Yes' : 'No'}}
                                                </span>
                                            </td>
                                            <td style="width:40px;text-align: right;">
                                                <i class="fa fa-list" (click)="detailUser(user.uuid)" title="Detail" style="cursor: pointer;"></i>
                                            </td>
                                        </tr>
                                        <tr *ngIf="deActiveHRUsers.length == 0">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>No record(s) found</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
    </div>
</div>