<div class="modal-header">
    <h5 class="modal-title" id="businessVerticaleditModal"><i class="fa fa-edit"></i>&nbsp;Edit Business Vertical Group</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="editBusinessVerticalGroupForm" id="editBusinessVerticalGroupForm" (ngSubmit)="saveBusinessVertical()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="businessVerticalForm">
                    <div class="form-group">
                        <label class="form-control-label" for="businessVertical">Business Vertical&nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="businessVertical" formControlName="businessVertical"
                        [ngClass]="{'is-invalid': !businessVerticalForm.controls['businessVertical'].valid && !isValidForm}" [value]="businessVerticalGroup.businessVertical?.name" >
                        <option value="{{businessVertical.id}}" *ngFor="let businessVertical of businessVerticals">{{businessVertical?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="businessVerticalForm.controls['businessVertical'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select business vertical.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="name">Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="name" type="text" required formControlName="name"
                    maxlength="100"
                    [ngClass]="{'is-invalid':editBusinessVerticalGroupForm.controls['name'].valid && !isValidForm}" />
                    <label style="color: red;"
                    *ngIf="editBusinessVerticalGroupForm.controls['name'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text">Please enter name.
                    </label>
                </div>                
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>