<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="padding: 10px 25px;">
                <h5 class="mb-3"> Syllabus : {{syllabus?.name}} &nbsp;
                    <span class="{{syllabus?.isActive == 1 ? 'badge bg-success' :  'badge bg-danger'}}">
                        Status : {{syllabus?.isActive == 1 ? 'Yes' : 'No'}}
                    </span>
                </h5>    
                <button type="button" class="btn btn-rounded btn-black float-end" style="margin-top: 0rem;"
                (click)="back()">Back</button>
            </div>    
            <div class="card">
                <div class="card-header" style="padding: 5px 25px;">
                    <h5 style="margin-top: 0.8rem;"><i class="fa fa-book-open"></i>&nbsp;Syllabus Grade Category&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></h5>
                    <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
                    (click)="addSyllabusGradeCategory(id)">Add Grade Category</button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">      
                            <div class="table-responsive" *ngIf="!searchClicked">
                                <table datatable id="tblSyllabusGradeCategory" class="table table-striped row-border table-hover pt-10">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Grade Category</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let gradeCategory of syllabus?.gradeCategories let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{gradeCategory?.name}}</td>
                                            <td style="width:40px; text-align: right;">
                                                <i class="fa fa-trash-alt" (click)="deleteSyllabusGradeCategory(gradeCategory)" title="Delete" style="cursor: pointer;" *ngIf="syllabus?.gradeCategories.length > 1"></i>&nbsp;
                                            </td>
                                        </tr>
                                        <tr *ngIf="syllabus?.gradeCategories.length == 0">
                                            <td></td>
                                            <td>No record(s) found</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
