<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header" style="padding: 10px 25px;">
        <h5 style="margin-top: 0.8rem;"><i class="fa fa-upload"></i>&nbsp;Curriculum Uploads</h5>
        <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
          *ngIf="userCanUpload" (click)="uploadCurriculumUpload()">Upload Curriculum</button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
              <form [formGroup]="academicYearForm">
                  <div class="form-group">
                      <label class="form-control-label" for="academicYear">Academic Year&nbsp;<span style="color: red;">*</span></label>
                      <select class="form-control" id="academicYear" formControlName="academicYear" (change)="getAssignedGrades()">
                          <option value="{{academicYear.uuid}}" *ngFor="let academicYear of academicYears">{{academicYear.year}}</option>
                      </select>
                  </div>
              </form>
          </div>
          <div class="col-md-3">
            <form [formGroup]="schoolForm">
                <div class="form-group">
                    <label class="form-control-label" for="school">School&nbsp;<span style="color: red;">*</span></label>
                    <select class="form-control" id="school" formControlName="school" (change)="getAssignedGrades()">
                        <option value="{{school.uuid}}" *ngFor="let school of schools">{{school.name}}</option>
                    </select>
                </div>
            </form>
          </div>
          <div class="col-md-3">
            <form [formGroup]="statusForm">
                <div class="form-group">
                    <label class="form-control-label" for="status">Status&nbsp;<span style="color: red;">*</span></label>
                    <select class="form-control" id="status" formControlName="status">
                      <option value="">Select Status</option>
                      <option value="Uploaded">Uploaded</option>
                      <option value="Verified">Verified</option>
                      <option value="Published">Published</option>
                      <option value="Rejected">Rejected</option>
                    </select>
                </div>
            </form>
          </div>
          <div class="col-md-3">
            <form [formGroup]="gradeForm">
                <div class="form-group">
                    <label class="form-control-label" for="grade">Grade&nbsp;
                        <i class="fa fa-spin fa-spinner" *ngIf="searchGrade"></i>
                    </label>
                    <select class="form-control" id="grade" formControlName="grade" (change) = "getAssignedGradeSubjects()">
                        <option value="{{grade.id}}" *ngFor="let grade of grades">{{grade.name}}</option>
                    </select>
                </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <form [formGroup]="subjectForm">
                  <div class="form-group">
                      <label class="form-control-label" for="subject">Subject&nbsp;
                          <i class="fa fa-spin fa-spinner" *ngIf="searchSubject"></i>
                      </label>
                      <select class="form-control" id="subject" formControlName="subject" (change)="getChapters()">
                          <option value="{{subject.uuid}}" *ngFor="let subject of subjects">{{subject.name}}</option>
                      </select>
                  </div>
              </form>
          </div>
          <div class="col-md-4">
              <form [formGroup]="chapterForm">
                  <div class="form-group">
                      <label class="form-control-label" for="chapter">Chapter&nbsp;
                          <i class="fa fa-spin fa-spinner" *ngIf="searchChapter"></i>
                      </label>
                      <select class="form-control" id="chapter" formControlName="chapter" (change)="getTopics()">
                          <option value="{{chapter.uuid}}" *ngFor="let chapter of chapters">{{chapter.name}}</option>
                      </select>
                  </div>
              </form>
          </div>
          <div class="col-md-4" *ngIf="curriculumUploadAs == 'Topic-wise'">
            <form [formGroup]="topicForm">
                <div class="form-group">
                    <label class="form-control-label" for="topic">Topic&nbsp;
                        <i class="fa fa-spin fa-spinner" *ngIf="searchTopic"></i></label>
                    <select class="form-control" id="topic" formControlName="topic">
                        <option value="{{topic.uuid}}" *ngFor="let topic of topics">{{topic.name}}</option>
                    </select>
                </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-end">
            <button type="button" class="btn btn-rounded btn-primary" *ngIf="!searchClicked"
            (click)="getCurriculumUploads()"><i class="fa fa-search"></i>&nbsp;Search</button>
            <button type="button" class="btn btn-rounded btn-primary" *ngIf="searchClicked">
              <i class="fa fa-spin fa-spinner"></i>&nbsp;Searching...</button>
          </div>
        </div>
        <div class="table-responsive">
          <table datatable id="tblCurriculum" class="table table-striped row-border table-hover pt-10">
            <thead>
              <tr>
                <th>Sno</th>
                <th>Grade</th>
                <th>Subject</th>
                <th>Chapter</th>
                <th>Material Type</th>
                <th>File Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let curriculumUpload of curriculumUploads let i=index">
                <td>{{i+1}}</td>
                <td>{{curriculumUpload.curriculum?.grade?.name}}</td>
                <td>{{curriculumUpload.curriculum?.subject?.name}}</td>
                <td>{{curriculumUpload.curriculum?.chapter?.name}}</td>
                <td>{{curriculumUpload.materialType?.name}}</td>
                <td>{{curriculumUpload.fileName | slice : 0 : 40}}...</td>
                <td style="width:40px;text-align: right;">
                  <i class="fa fa-recycle" (click)="changeStatus(curriculumUpload)"
                  *ngIf="isCurrent ==1 && curriculumUpload.status != 'Published' && curriculumUpload.status != 'Rejected' && canChangeStatus"
                  title="Change Status" style="cursor: pointer;"></i>&nbsp;
                  <i class="fa fa-trash-alt" (click)="deleteCurriculumUpload(curriculumUpload.uuid)"
                  title="Delete" style="cursor: pointer;" *ngIf="isCurrent ==1 && isDeleteable"></i>
                  &nbsp;<i class="fa fa-list" (click)="detailCurriculumUpload(curriculumUpload.uuid)" title="Detail" style="cursor: pointer;"></i>
                </td>
              </tr>
              <tr *ngIf="curriculumUploads.length == 0">
                <td></td>
                <td></td>
                <td></td>
                <td>No record(s) found</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>