<div class="modal-header">
    <h5 class="modal-title" id="cityEditModal"><i class="fa fa-edit"></i>&nbsp;Edit City</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="editCityForm" id="editCityForm" (ngSubmit)="saveCity()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="countryForm">
                    <div class="form-group">
                        <label class="form-control-label" for="country">Country&nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="country" formControlName="country" (change)="getStateRegions('Active')"
                        [ngClass]="{'is-invalid': !countryForm.controls['country'].valid && !isValidForm}">
                        <option value="{{country.id}}" *ngFor="let country of countries">{{country?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="countryForm.controls['country'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select country.</label>
                    </div>
                </form>                
            </div>
            <div class="col-md-6">
                <form [formGroup]="stateRegionForm">
                    <div class="form-group">
                        <label class="form-control-label" for="stateRegion">State/Region&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedStateRegion"></i></label>
                        <select class="form-control"  required id="stateRegion" formControlName="stateRegion" (change)="getDistricts('Active')"
                        [ngClass]="{'is-invalid': !stateRegionForm.controls['stateRegion'].valid && !isValidForm}">
                        <option value="{{stateRegion.id}}" *ngFor="let stateRegion of stateRegions">{{stateRegion?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="stateRegionForm.controls['stateRegion'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select state region.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-6">
                <form [formGroup]="districtForm">
                    <div class="form-group">
                        <label class="form-control-label" for="district">District&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedDistrict"></i></label>
                        <select class="form-control"  required id="district" formControlName="district"
                        [ngClass]="{'is-invalid': !districtForm.controls['district'].valid && !isValidForm}">
                        <option value="{{district.id}}" *ngFor="let district of districts">{{district?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="districtForm.controls['district'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select district.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="name">Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="name" type="text" required 
                    formControlName="name" 
                    [ngClass]="{'is-invalid': !editCityForm.controls['name'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editCityForm.controls['name'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter name.</label>
                </div>                
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>