<div class="modal-header">
    <h5 class="modal-title" id="syllabusWiseSubjectEditModal"><i class="fa fa-edit"></i>&nbsp;Edit Syllabus Wise Subject</h5>
    <!-- <div>{{editSyllabusWiseSubjectForm.value | json}}</div> -->
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="editSyllabusWiseSubjectForm" id="editSyllabusWiseSubjectForm" (ngSubmit)="saveSyllabusWiseSubject()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-4">
                <form [formGroup]="academicSessionForm">
                    <div class="form-group">
                        <label class="form-control-label" for="academicSession">Academic Session &nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="academicSession" formControlName="academicSession"
                        [ngClass]="{'is-invalid': !academicSessionForm.controls['academicSession'].valid && !isValidForm}"
                          >
                        <option value="{{academicSession.id}}" *ngFor="let academicSession of academicSessions">{{academicSession?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="academicSessionForm.controls['academicSession'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select academic session.</label>
                    </div>
                </form>                
            </div> 

            <div class="col-md-4">
                <form [formGroup]="gradeCategoryForm">
                    <div class="form-group">
                        <label class="form-control-label" for="gradeCategory">Grade Category &nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="gradeCategory" formControlName="gradeCategory" (change) ="getGrades()"
                        [ngClass]="{'is-invalid': !gradeCategoryForm.controls['gradeCategory'].valid && !isValidForm}"
                          >
                        <option value="{{gradeCategory.id}}" *ngFor="let gradeCategory of gradeCategories">{{gradeCategory?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="gradeCategoryForm.controls['gradeCategory'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select grade.</label>
                    </div>
                </form>                
            </div>

            <div class="col-md-4">
                <form [formGroup]="gradeForm">
                    <div class="form-group">
                        <label class="form-control-label" for="grade">Grade &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="saveClicked"></i></label>
                        <select class="form-control"  required id="grade" formControlName="grade"
                        [ngClass]="{'is-invalid': !gradeForm.controls['grade'].valid && !isValidForm}" (change) = "getGradeWiseSyllabuses()"
                          >
                        <option value="{{grade.id}}" *ngFor="let grade of grades">{{grade?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="gradeForm.controls['grade'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select grade.</label>
                    </div>
                </form>                
            </div> 

            <div class="col-md-4">
                <form [formGroup]="syllabusForm">
                    <div class="form-group">
                        <label class="form-control-label" for="syllabus">Syllabus &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="saveClicked"></i></label>
                        <select class="form-control"  required id="syllabus" formControlName="syllabus"
                        [ngClass]="{'is-invalid': !syllabusForm.controls['syllabus'].valid && !isValidForm}">
                        <option value="{{gradeWiseSyllabus.syllabus?.id}}" *ngFor="let gradeWiseSyllabus of gradeWiseSyllabuses">{{gradeWiseSyllabus.syllabus?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="syllabusForm.controls['syllabus'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select syllabus.</label>
                    </div>
                </form>                
            </div> 

            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" for="name">Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="name" type="text" required 
                    formControlName="name" maxlength="20"
                    [ngClass]="{'is-invalid': !editSyllabusWiseSubjectForm.controls['name'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editSyllabusWiseSubjectForm.controls['name'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter subject name.</label>
                </div>
            </div> 
    
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>