<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" style="padding: 10px 25px;">
          <h5 style="margin-top: 0.8rem;"><i class="fa fa-calendar"></i>&nbsp;Weekly Time Table Allotments
          &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="completeTimeTableClicked"></i></h5>
          <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;" 
            (click)="createWeeklyTimeTable()">Create Weekly TimeTable</button>
        </div>
        <div class="card-body">
          <form [formGroup]="gradeScheduleSettingForm" autocomplete="off">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="monthYear">Month/Year&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="monthYear" type="month" required 
                    formControlName = "monthYear" placeholder="mm/yyyy" (input)="getCompleteWeeklyTimeTable()"
                    [ngClass]="{'is-invalid': !gradeScheduleSettingForm.controls['monthYear'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="!gradeScheduleSettingForm.controls['monthYear'].valid && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter month/year.</label>
                </div>
              </div>
              <div class="col-md-2">
                  <form [formGroup]="academicYearForm">
                      <div class="form-group">
                          <label class="form-control-label" for="academicYear">Academic Year&nbsp;<span style="color: red;">*</span></label>
                          <select class="form-control" required id="academicYear" formControlName="academicYear" (change)="getGradeScheduleSetting(schoolUUID)"
                          [ngClass]="{'is-invalid': !academicYearForm.controls['academicYear'].valid && !isValidForm}">
                              <option value="{{academicYear.uuid}}" *ngFor="let academicYear of academicYears">{{academicYear.year}}</option>
                          </select>
                          <label style="color: red;"
                          *ngIf="!academicYearForm.controls['academicYear'].valid && !isValidForm"
                          class="error jquery-validation-error small form-text"
                          >Please enter lunch academic year.</label>
                      </div>
                  </form>
              </div>            
              <div class="col-md-2">
                  <form [formGroup]="gradeForm">
                      <div class="form-group">
                          <label class="form-control-label" for="grade">Grade&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="gradeClicked"></i></label>
                          <select class="form-control" required id="grade" formControlName="grade" (change)="getGradeScheduleSetting(schoolUUID)"
                          [ngClass]="{'is-invalid': !gradeForm.controls['grade'].valid && !isValidForm}">
                              <option value="{{grade.id}}" *ngFor="let grade of grades">{{grade.name}}</option>
                          </select>
                          <label style="color: red;"
                          *ngIf="!gradeForm.controls['grade'].valid && !isValidForm"
                          class="error jquery-validation-error small form-text"
                          >Please enter lunch grade.</label>
                      </div>
                  </form>
              </div>
              <div class="col-md-2">
                <form [formGroup]="sectionForm">
                  <div class="form-group">
                    <label class="form-control-label">Section&nbsp;<span style="color: red;">*</span>
                      &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="sectionClicked"></i></label>
                    <select class="form-control" required id="section" formControlName="section" 
                    [ngClass]="{'is-invalid': !sectionForm.controls['section'].valid && !isValidForm}">
                        <option value="{{section.uuid}}" *ngFor="let section of sections">{{section.name}}</option>
                    </select>
                    <label style="color: red;"
                    *ngIf="!sectionForm.controls['section'].valid && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please select section.</label>
                  </div>
                </form>
              </div>
              <div class="col-md-3">
                <br/>
                <button type="button" class="btn btn-rounded btn-primary" *ngIf="!completeTimeTableClicked"
                (click)="getCompleteWeeklyTimeTable()"><i class="fa fa-search"></i>&nbsp;Search</button>
                <button type="button" class="btn btn-rounded btn-primary" *ngIf="completeTimeTableClicked">
                    <i class="fa fa-spin fa-spinner"></i>&nbsp;Searching...</button>
              </div>
            </div>
          </form>
          <br/>
          <div class="table-responsive" style="height: 450px;overflow: auto;">
            <table class="table row-border pt-10">
              <thead>
                <tr class="table-bordered border-dark">
                  <th class="table-bordered text-center border-dark bg-info text-white">Grade-Section</th>
                  <th class="table-bordered text-center border-dark bg-info text-white">Day</th>
                  <th  class="table-bordered text-center border-dark bg-info text-white" *ngFor="let period of periods">Period {{period}}</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-bordered border-dark" *ngFor="let weeklyTimeTableValue of weeklyTimeTableData let i=index">
                  <td class="table-bordered border-dark" *ngIf="i%classDays == 0" [attr.rowspan]="classDays">
                  <!-- If Applied -->         
                    <span class="{{weeklyTimeTableValue?.isDone == 1 && weeklyTimeTableValue.isApplied == 1 ? 'badge bg-success' : 'badge bg-primary'}}">
                      {{weeklyTimeTableValue.gradeSection?.grade?.name}}-{{weeklyTimeTableValue.gradeSection?.section?.name}}&nbsp;
                      <i class="fa fa-check-circle" *ngIf="weeklyTimeTableValue?.isDone == 1 && weeklyTimeTableValue.isApplied == 1"></i>
                    </span>
            <!-- If Not Applied-->
                    <br *ngIf="weeklyTimeTableValue?.isDone == 1 && weeklyTimeTableValue.isApplied == 0"/>
                    <br *ngIf="weeklyTimeTableValue?.isDone == 1 && weeklyTimeTableValue.isApplied == 0"/>
                    <a href="javascript:" class="btn btn-sm rounded text-white" 
                    style="padding: 0px 8px;background-color: brown;" *ngIf="!techingScheduleClicked[i] && weeklyTimeTableValue?.isDone == 1 && weeklyTimeTableValue.isApplied == 0" 
                    (click)="createTeachingSchedule(i, weeklyTimeTableValue)">
                      <i class="fa fa-check"></i>Apply</a>
                    <a href="javascript:" class="btn btn-sm rounded text-white" 
                    style="padding: 0px 8px;background-color: brown;" 
                    *ngIf="techingScheduleClicked[i] && weeklyTimeTableValue?.isDone == 1 
                    && weeklyTimeTableValue.isApplied == 0">
                      <i class="fa fa-spin fa-spinner"></i>Applying</a>
            <!--////////////-->
           <!-- If Applied -->         
                    <br *ngIf="weeklyTimeTableValue?.isDone == 1 && weeklyTimeTableValue.isApplied == 1"/>
                    <br *ngIf="weeklyTimeTableValue?.isDone == 1 && weeklyTimeTableValue.isApplied == 1"/>
                    <a href="javascript:" class="btn btn-sm rounded-pill btn-outline-dark text-dark" 
                    style="padding: 0px 10px;cursor:text;background-color: white;"
                    *ngIf="weeklyTimeTableValue?.isDone == 1 && weeklyTimeTableValue.isApplied == 1">
                      <i class="fa fa-clock"></i>{{weeklyTimeTableValue.appliedOn | date : "dd/MM/yyyy"}}
                    </a>
                    <br *ngIf="weeklyTimeTableValue?.isDone == 1 && weeklyTimeTableValue.isApplied == 1"/>
                    <a href="javascript:" class="btn btn-sm rounded-pill btn-outline-dark text-dark" 
                    style="padding: 0px 10px;cursor:text;background-color: white;"
                    *ngIf="weeklyTimeTableValue?.isDone == 1 && weeklyTimeTableValue.isApplied == 1">
                      <i class="fa fa-user-secret"></i>{{weeklyTimeTableValue.appliedBy?.name}}
                    </a>
                  </td>
                  <td class="table-bordered border-dark">
                    {{dayNames[weeklyTimeTableValue.dayNumber]}}
                  </td>
                  <td class="table-bordered border-dark {{weeklyTimeTableValue['period-' + period]?.duplicateAllotColumnColor?.background}}" *ngFor="let period of periods">
                    <a href="javascript:" class="btn btn-sm rounded-pill btn-outline-dark {{weeklyTimeTableValue['period-' + period]?.duplicateAllotColumnColor?.text}}" 
                    style="padding: 0px 10px;cursor:text;background-color: white;"
                    *ngIf="weeklyTimeTableValue['period-' + period]">
                      <i class="fa fa-clock"></i>{{weeklyTimeTableValue['period-' + period]?.startTime | convert12HrsTimeFormat}}-{{weeklyTimeTableValue['period-' + period]?.endTime | convert12HrsTimeFormat}}
                    </a>
                    <br/>
                <!-- If Allocated-->
                    <a href="javascript:" class="btn btn-sm rounded-pill btn-outline-dark {{weeklyTimeTableValue['period-' + period]?.duplicateAllotColumnColor?.text}}" 
                    style="padding: 0px 10px;cursor:text;background-color: white;"
                    *ngIf="weeklyTimeTableValue['period-' + period]?.allocatedTo?.uuid != null && weeklyTimeTableValue['period-' + period]?.periodNumber > 0">
                      <i class="fa fa-user-secret"></i>{{weeklyTimeTableValue['period-' + period]?.allocatedTo?.name}}
                    </a>
                    <br *ngIf="weeklyTimeTableValue['period-' + period]?.allocatedTo?.uuid != null && weeklyTimeTableValue['period-' + period]?.periodNumber > 0"/>
                    <a href="javascript:" class="btn btn-sm rounded-pill btn-outline-dark {{weeklyTimeTableValue['period-' + period]?.duplicateAllotColumnColor?.text}}" 
                    style="padding: 0px 10px;cursor:text;background-color: white;"
                    *ngIf="weeklyTimeTableValue['period-' + period]?.allocatedTo?.uuid != null && weeklyTimeTableValue['period-' + period]?.periodNumber > 0">
                      <i class="fa fa-book"></i>{{weeklyTimeTableValue['period-' + period]?.subject?.name}}
                    </a>
               <!--Delete Allocation-->
                    <a href="javascript:" class="btn btn-sm rounded-pill btn-outline-dark float-end {{weeklyTimeTableValue['period-' + period]?.duplicateAllotColumnColor?.text}}" 
                    style="padding: 0px 10px;background-color: white;" title="Delete Allotment"
                    *ngIf="weeklyTimeTableValue.isApplied == 0 && 
                    weeklyTimeTableValue['period-' + period]?.allocatedTo?.uuid != null 
                    && weeklyTimeTableValue['period-' + period]?.periodNumber > 0
                    && weeklyTimeTableValue['period-' + period].isDeleted == 0"
                    (click)="DeleteAllotment(i, period, weeklyTimeTableValue['period-' + period].uuid)">
                      <i class="fa fa-trash" style="margin-right: 0px;color: red;"></i>
                    </a>
              <!-- Delete Processing-->
                    <a href="javascript:" class="btn btn-sm rounded-pill btn-outline-dark float-end {{weeklyTimeTableValue['period-' + period]?.duplicateAllotColumnColor?.text}}" 
                    style="padding: 0px 10px;cursor:text;background-color: white;" 
                    *ngIf="weeklyTimeTableValue.isApplied == 0 && 
                    weeklyTimeTableValue['period-' + period]?.allocatedTo?.uuid != null 
                    && weeklyTimeTableValue['period-' + period]?.periodNumber > 0 
                    && weeklyTimeTableValue['period-' + period].isDeleted == 1"
                    >
                      <i class="fa fa-trash" style="margin-right: 0px;color: red;"></i>
                    </a>
              <!-- If Not Allocated-->
                    <a href="javascript:" class="btn btn-sm rounded-pill text-white" 
                    style="padding: 0px 10px;background-color: #A569BD;"
                    *ngIf="weeklyTimeTableValue['period-' + period]?.allocatedTo?.uuid == null && weeklyTimeTableValue['period-' + period]?.periodNumber > 0" 
                    (click)="allocateTeacher(i, period, weeklyTimeTableValue['period-' + period])">
                      <i class="fa fa-plus"></i>Allocate</a>
              <!-- If Lunch Break-->
                    <a href="javascript:" class="btn btn-sm rounded-pill btn-danger" style="padding: 0px 10px;cursor:text;"
                      *ngIf="weeklyTimeTableValue['period-' + period]?.periodNumber == 0">
                        <i class="fa fa-utensils"></i>Lunch Break</a>
              <!-- If Snacks Break-->
                    <a href="javascript:" class="btn btn-sm rounded-pill btn-danger" style="padding: 0px 10px;cursor:text;"
                    *ngIf="weeklyTimeTableValue['period-' + period]?.periodNumber == -1">
                      <i class="fa fa-apple-alt"></i>Snacks Break</a>
                  </td>
                </tr>
                <tr *ngIf="weeklyTimeTableData.length == 0">
                  <td>{{periods.length == 0 ? "No records Found" : ""}}</td>
                  <td *ngFor="let period of periods">{{period == 1 ? "No records Found" : ""}}</td>
                </tr>
              </tbody>           
            </table>
          </div>
        </div>
      </div>
    </div>
</div>