<div class="modal-header">
    <h5 class="modal-title" id="gradeScheduleSettingAddModal"><i class="fa fa-pen"></i>&nbsp;Edit Grade Schedule Setting</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="editGradeScheduleSettingForm" id="addUserForm" (ngSubmit)="saveGradeScheduleSetting()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-3">
                <form [formGroup]="academicYearForm">
                    <div class="form-group">
                        <label class="form-control-label" for="academicYear">Academic Year&nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control" required id="academicYear" formControlName="academicYear" 
                        [ngClass]="{'is-invalid': !academicYearForm.controls['academicYear'].valid && !isValidForm}">
                            <option value="{{academicYear.uuid}}" *ngFor="let academicYear of academicYears">{{academicYear.year}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="academicYearForm.controls['academicYear'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select academic year.</label>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <form [formGroup]="gradeForm">
                    <div class="form-group">
                        <label class="form-control-label" for="grade">Grade&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="gradeClicked"></i></label>
                        <select class="form-control" required id="grade" formControlName="grade"
                        [ngClass]="{'is-invalid': !gradeForm.controls['grade'].valid && !isValidForm}">
                            <option value="{{grade.id}}" *ngFor="let grade of grades">{{grade.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="gradeForm.controls['grade'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select grade.</label>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="startTime">Start Time&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="startTime" type="time" required 
                    formControlName="startTime"
                    [ngClass]="{'is-invalid': !editGradeScheduleSettingForm.controls['startTime'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editGradeScheduleSettingForm.controls['startTime'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter start time.</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="numberOfPeriods">Total Periods&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="numberOfPeriods" type="text" required 
                    formControlName="numberOfPeriods" pattern="^\d{1,2}" maxlength="2" 
                    [ngClass]="{'is-invalid': !editGradeScheduleSettingForm.controls['numberOfPeriods'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editGradeScheduleSettingForm.controls['numberOfPeriods'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter periods.</label>
                    <label style="color: red;"
                    *ngIf="editGradeScheduleSettingForm.controls['numberOfPeriods'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid periods</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="duration">Duration (In Min.)&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="duration" type="text" required 
                    formControlName="duration" pattern="^\d{1,2}" maxlength="2" 
                    [ngClass]="{'is-invalid': !editGradeScheduleSettingForm.controls['duration'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editGradeScheduleSettingForm.controls['duration'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter duration.</label>
                    <label style="color: red;"
                    *ngIf="editGradeScheduleSettingForm.controls['duration'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter valid duration</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>