<div class="row">
  <div class="col-sm-12">
    <div class="card" >
      <div class="card-header" style="padding: 10px 25px;">
        <h5 style="margin-top: 0.8rem;"><i class="fa fa-plus"></i>&nbsp;Add Tie-Up School&nbsp;
        </h5>
      </div>
      <form [formGroup]="addTieUpSchoolForm" id="addTieUpSchoolForm" (ngSubmit)="saveTieUpSchool()" autocomplete="off">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label" for="name">Name&nbsp;<span style="color: red;">*</span></label>
                <input class="form-control input-md" id="name" type="text" required
                formControlName="name" 
                [ngClass]="{'is-invalid': !addTieUpSchoolForm.controls['name'].valid && !isValidForm}"/>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['name'].hasError('required') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter name.</label>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['name'].hasError('pattern') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter valid name.</label>  
              </div>                 
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label" for="email">Email&nbsp;<span style="color: red;">*</span></label>
                <input class="form-control input-md" id="email" type="text" required 
                formControlName="email" maxlength="100"
                [ngClass]="{'is-invalid': !addTieUpSchoolForm.controls['email'].valid && !isValidForm}"/>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['email'].hasError('required') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter email.</label>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['email'].hasError('pattern') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter valid email.</label>   
              </div>                 
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label" for="address">Address&nbsp;<span style="color: red;">*</span></label>
                <input class="form-control input-md" id="address" type="text" required 
                formControlName="address" maxlength="200"
                [ngClass]="{'is-invalid': !addTieUpSchoolForm.controls['address'].valid && !isValidForm}"/>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['address'].hasError('required') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter address.</label>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['address'].hasError('pattern') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter valid address.</label>   
              </div>                 
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label" for="pincode">Pincode&nbsp;<span style="color: red;">*</span></label>
                <input class="form-control input-md" id="pincode" type="text" required 
                formControlName="pincode" maxlength="6"
                [ngClass]="{'is-invalid': !addTieUpSchoolForm.controls['pincode'].valid && !isValidForm}"/>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['pincode'].hasError('required') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter pincode.</label>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['pincode'].hasError('pattern') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter valid pincode.</label>   
              </div>                 
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label" for="mobile">Mobile&nbsp;<span style="color: red;">*</span></label>
                <input class="form-control input-md" id="mobile" type="text" required  
                formControlName="mobile" maxlength="15" minlength="10"
                [ngClass]="{'is-invalid': !addTieUpSchoolForm.controls['mobile'].valid && !isValidForm}"
                />
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['mobile'].hasError('required') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter contact mobile.</label>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['mobile'].hasError('minlength') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Contact Mobile number should be 10 to 15 digits long</label>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['mobile'].hasError('pattern') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter valid contact mobile number</label>
              </div>    
            </div>
            <div class="col-md-3">
              <form [formGroup]="countryForm">
                <div class="form-group">
                  <label class="form-control-label" for="country">Country&nbsp;<span style="color: red;">*</span></label>
                  <select class="form-control"  required id="country" formControlName="country" (change)="getStateRegions('Active')"
                  [ngClass]="{'is-invalid': !countryForm.controls['country'].valid && !isValidForm}">
                  <option value="{{country.id}}" *ngFor="let country of countries">{{country?.name}}</option>
                  </select>
                  <label style="color: red;"
                  *ngIf="countryForm.controls['country'].hasError('required') && !isValidForm"
                  class="error jquery-validation-error small form-text"
                  >Please select country.</label>
                </div>
              </form>                
            </div> 
            <div class="col-md-3">
              <form [formGroup]="stateRegionForm">
                <div class="form-group">
                  <label class="form-control-label" for="stateRegion">State/Region&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></label>
                  <select class="form-control"  required id="stateRegion" formControlName="stateRegion" (change)="getDistricts('Active')"
                  [ngClass]="{'is-invalid': !stateRegionForm.controls['stateRegion'].valid && !isValidForm}">
                  <option value="{{stateRegion.id}}" *ngFor="let stateRegion of stateRegions">{{stateRegion?.name}}</option>
                  </select>
                  <label style="color: red;"
                  *ngIf="stateRegionForm.controls['stateRegion'].hasError('required') && !isValidForm"
                  class="error jquery-validation-error small form-text"
                  >Please select state/region.</label>
                </div>
              </form>                
            </div> 
            <div class="col-md-3">
              <form [formGroup]="districtForm">
                <div class="form-group">
                  <label class="form-control-label" for="district">District&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></label>
                  <select class="form-control"  required id="district" formControlName="district" (change)="getCities('Active')"
                  [ngClass]="{'is-invalid': !districtForm.controls['district'].valid && !isValidForm}">
                  <option value="{{district.id}}" *ngFor="let district of districts">{{district?.name}}</option>
                  </select>
                  <label style="color: red;"
                  *ngIf="districtForm.controls['district'].hasError('required') && !isValidForm"
                  class="error jquery-validation-error small form-text"
                  >Please select district.</label>
                </div>
              </form>                
            </div> 
            <div class="col-md-3">
              <form [formGroup]="cityForm">
                <div class="form-group">
                  <label class="form-control-label" for="city">City&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></label>
                  <select class="form-control"  required id="city" formControlName="city"
                  [ngClass]="{'is-invalid': !cityForm.controls['city'].valid && !isValidForm}">
                  <option value="{{city.id}}" *ngFor="let city of cities">{{city?.name}}</option>
                  </select>
                  <label style="color: red;"
                  *ngIf="cityForm.controls['city'].hasError('required') && !isValidForm"
                  class="error jquery-validation-error small form-text"
                  >Please select city.</label>
                </div>
              </form>                
            </div> 
            <div class="col-md-3">
              <form [formGroup]="syllabusForm">
                <div class="form-group">
                  <label class="form-control-label col-md-12" for="syllabus">Syllabus &nbsp;<span style="color: red;">*</span> 
                    <i class="fa fa-plus float-end m-1" title="Add" style="cursor: pointer;" (click)="addTieUpSchoolSyllabus()"></i>
                    <i class="fa fa-trash-alt float-end m-1" title="Delete" style="cursor: pointer;" (click)="deleteTieUpSchoolSyllabus()" ></i>
                  </label>
                  <select class="form-control"  required id="syllabus" formControlName="syllabus" 
                  [ngClass]="{'is-invalid': !syllabusForm.controls['syllabus'].valid && !isValidForm}">
                  <option value="{{tieUpSchoolSyllabus.id}}" *ngFor="let tieUpSchoolSyllabus of tieUpSchoolSyllabuses">{{tieUpSchoolSyllabus?.name}}</option>
                  </select>
                  <label style="color: red;"
                  *ngIf="syllabusForm.controls['syllabus'].hasError('required') && !isValidForm"
                  class="error jquery-validation-error small form-text"
                  >Please select business vertical.</label>
                </div>
              </form>                
            </div> 
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label" for="panNumber">PAN Number&nbsp;<span style="color: red;">*</span></label>
                <input class="form-control input-md" id="panNumber" type="text"    formControlName="panNumber" maxlength="10" required
                pattern="[a-zA-Z]{5}[0-9]{4}[A-Za-z]{1}"
                [ngClass]="{'is-invalid': !addTieUpSchoolForm.controls['panNumber'].valid && !isValidForm}"/>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['panNumber'].hasError('required') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter pan number.</label>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['panNumber'].hasError('minlength') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >pan number should be 10 number long</label>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['panNumber'].hasError('pattern') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter valid pan number.</label>  
              </div>                 
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-control-label" for="contactPerson">Contact Person&nbsp;<span style="color: red;">*</span></label>
                <input class="form-control input-md" id="contactPerson" type="text" required
                formControlName="contactPerson" maxlength="40"
                [ngClass]="{'is-invalid': !addTieUpSchoolForm.controls['contactPerson'].valid && !isValidForm}"/>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['contactPerson'].hasError('required') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter contact person.</label>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['contactPerson'].hasError('pattern') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter valid contact person.</label>  
              </div>                 
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label class="form-control-label" for="website">Website&nbsp;<span style="color: red;">*</span></label>
                <input class="form-control input-md" id="website" type="text" required
                formControlName="website" 
                [ngClass]="{'is-invalid': !addTieUpSchoolForm.controls['website'].valid && !isValidForm}"/>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['website'].hasError('required') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter website.</label>
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['website'].hasError('pattern') && !isValidForm"
                class="error jquery-validation-error small form-text"
                >Please enter valid website.</label>  
              </div>                        
            </div> 
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label" for="contractFrom">Contract From&nbsp;<span
                style="color: red;">*</span></label>
                <input class="form-control input-md" id="contractFrom" type='date' required formControlName="contractFrom"
                [ngClass]="{'is-invalid': !addTieUpSchoolForm.controls['contractFrom'].valid && !isValidForm}" />
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['contractFrom'].hasError('required') && !isValidForm"
                class="error jquery-validation-error small form-text">Please enter your start date.</label>
              </div>
            </div>
            <!-- end date -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label" for="contractTo">Contract To&nbsp;<span
                style="color: red;">*</span></label>
                <input class="form-control input-md" id="contractTo" type='date' required formControlName="contractTo" 
                min="{{addTieUpSchoolForm.controls['contractFrom'].value}}"
                [ngClass]="{'is-invalid': !addTieUpSchoolForm.controls['contractTo'].valid && !isValidForm}" />
                <label style="color: red;"
                *ngIf="addTieUpSchoolForm.controls['contractTo'].hasError('required') && !isValidForm"
                class="error jquery-validation-error small form-text">Please enter your end date.</label>
              </div>
            </div>
            <!-- document required -->
            <div class="col-md-12" style="text-align: right;">
              <div class="form-group">
                <div class="checkbox d-inline">
                  <input type="checkbox" name="checkbox-1" id="checkbox-1" (change)="getChange($event)"/>
                  <label for="checkbox-1" class="cr">Is Document Required</label>
                </div>
              </div>
            </div>             
            <div class="row" *ngIf="isChecked">
              <div class="col-md-12 d-flex">
                <h5 class="card-title flex-grow-1">Enclosure Documents &nbsp;
                  <span class="badge rounded-pill bg-dark">{{getEnclosureDocDetailsForm.length}}</span>
                </h5>
                <div>
                  <button class="btn rounded-pill btn-danger" type="button" *ngIf="getEnclosureDocDetailsForm.length > 1" (click)="deleteRow()">Delete</button>
                  <button class="btn btn-rounded btn-primary" type="button" (click)="addRow()">Add</button>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="isChecked">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table align-middle mb-0">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 10%;">Sno</th>
                        <th scope="col" >Document Name</th>
                        <th scope="col">Select File <label for="docFiles"><span style="color: red; font-size: small;"> &nbsp;[ JPEG/PNG/PDF]</span></label></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody *ngIf="getEnclosureDocDetailsForm.length > 0">
                      <tr *ngFor="let EnclosureDoc of getEnclosureDocDetailsForm let i=index" [formGroup]="getEnclosureDocDetailsForm[i]">  
                        <td>{{i+1}}</td>
                        <td>
                          <select class="form-select"  required id="academyEnclosureDocument" formControlName="academyEnclosureDocument" (change) = "getDocumentSelect()"
                          [ngClass]="{'is-invalid': !isValidForm1 && !getEnclosureDocDetailsForm[i].controls['academyEnclosureDocument'].valid}">
                          <option value="{{academyEnclosureDocument.id}}" [disabled] = "academyEnclosureDocument?.isUploaded" *ngFor="let academyEnclosureDocument of academyEnclosureDocuments;">{{academyEnclosureDocument?.name}}</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="getEnclosureDocDetailsForm[i].controls['academyEnclosureDocument'].hasError('required') && !isValidForm1">
                            Please select enclosure document
                          </div>
                        </td>
                        <td>
                          <div>
                            <input _ngcontent-ng-c896720819="" type="file" id="docFile" formControlName="docFile" [multiple]="false" [accept]="'image/png, image/jpeg, application/pdf'" (change)="fileChange($event, i)"  class="form-control">
                          </div>
                        </td>
                        <td></td>
                      </tr>
                      <tr *ngIf="getEnclosureDocDetailsForm.length == 0">
                        <td></td>
                        <td></td>
                        <td>No record(s) found</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="card-footer float-end">
          <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
          <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
          <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
              <i class="fa fa-spin fa-spinner"></i>Saving...</button>
        </div>
      </form>
    </div>
  </div>
</div>

