<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" style="padding: 10px 25px;">
          <h5 style="margin-top: 0.8rem;"><i class="fa fa-clipboard"></i>&nbsp;GradeScheduleSetting</h5>
          <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
           *ngIf="(userTypeCode == 'SCHPL' || userTypeCode == 'SCHVP')" (click)="addGradeScheduleSetting()">Add Grade Schedule Setting</button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
                <form [formGroup]="academicYearForm">
                    <div class="form-group">
                        <label class="form-control-label" for="academicYear">Academic Year&nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control" required id="academicYear" formControlName="academicYear">
                            <option value="{{academicYear.uuid}}" *ngFor="let academicYear of academicYears">{{academicYear.year}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <form [formGroup]="schoolForm">
                    <div class="form-group">
                        <label class="form-control-label" for="school">School&nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control" required id="school" formControlName="school">
                            <option value="{{school.uuid}}" *ngFor="let school of schools">{{school.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
              <br/>
              <button type="button" class="btn btn-rounded btn-primary" *ngIf="!searchClicked"
              (click)="getGradeScheduleSettings()"><i class="fa fa-search"></i>&nbsp;Search</button>
              <button type="button" class="btn btn-rounded btn-primary" *ngIf="searchClicked">
                <i class="fa fa-spin fa-spinner"></i>&nbsp;Searching...</button>
            </div> 
          </div>
          <div class="table-responsive">
            <table datatable id="tblGradeScheduleSetting" class="table table-striped row-border table-hover pt-10">
              <thead>
                <tr>
                  <th>Sno</th>
                  <th>Grade</th>
                  <th>Start Time</th>
                  <th>Total Periods</th>
                  <th>Duration</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let gradeScheduleSetting of gradeScheduleSettings let i=index">
                  <td>{{i+1}}</td>
                  <td>{{gradeScheduleSetting.grade?.name}}</td>
                  <td>{{gradeScheduleSetting.startTime | convert12HrsTimeFormat}}</td>
                  <td>{{gradeScheduleSetting.numberOfPeriods}}</td>
                  <td>{{gradeScheduleSetting.duration}} Min.</td>
                  <td style="width:40px;text-align: right;">
                    <i class="fa fa-trash-alt" (click)="deleteGradeScheduleSetting(gradeScheduleSetting.uuid)" 
                    title="Delete" style="cursor: pointer;" *ngIf="(userTypeCode == 'SCHPL' || userTypeCode == 'SCHVP') && gradeScheduleSetting.isExist == 0"></i>
                    &nbsp;<i class="fa fa-edit" (click)="editGradeScheduleSetting(gradeScheduleSetting)" 
                    title="Edit" style="cursor: pointer;" *ngIf="(userTypeCode == 'SCHPL' || userTypeCode == 'SCHVP') && gradeScheduleSetting.isExist == 0"></i>
                  </td>
                </tr>
                <tr *ngIf="gradeScheduleSettings.length == 0">
                  <td></td>
                  <td></td>
                  <td>No record(s) found</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>