<div class="modal-header">
    <h5 class="modal-title" id="stateRegionEditModal"><i class="fa fa-edit"></i>&nbsp;Edit State/Region</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="editStateRegionForm" id="editStateRegionForm" (ngSubmit)="saveStateRegion()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="countryForm">
                    <div class="form-group">
                        <label class="form-control-label" for="country">Country&nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="country" formControlName="country" 
                        [ngClass]="{'is-invalid': !countryForm.controls['country'].valid && !isValidForm}">
                        <option value="{{country.id}}" *ngFor="let country of countries">{{country?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="countryForm.controls['country'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select country.</label>
                    </div>
                </form>                
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="name">Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="name" type="text" required formControlName="name" 
                    [ngClass]="{'is-invalid': !editStateRegionForm.controls['name'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="editStateRegionForm.controls['name'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter name.</label>
                </div>                
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>