<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="mb-3 text-uppercase"> {{tieUpSchool?.name}} :&nbsp;
                    <span class="{{tieUpSchool?.isActive == 1 ? 'badge bg-success' :  'badge bg-danger'}}">
                        Status : {{tieUpSchool?.isActive == 1 ? 'Yes' : 'No'}}
                    </span>
                    <button type="button" class="btn btn-rounded btn-black float-end" style="margin-top: 0rem;"
                    (click)="back()">Back</button>
                </h5>
                <ul class="nav nav-tabs" ngbNav #nav="ngbNav">
                    <li class="nav-item" [ngbNavItem]="1">
                        <a class="nav-link text-uppercase" aria-controls="home" aria-selected="true" ngbNavLink>      
                        Tie-Up School Info
                        </a>
                        <ng-template ngbNavContent>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="form-control-label" for="name">Name</label>
                                    <label class="form-control input-md">{{tieUpSchool?.name}}</label>                 
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-control-label" for="email">Email</label>
                                    <label class="form-control input-md">{{tieUpSchool?.email}}</label>                  
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-control-label" for="mobile">Mobile</label>
                                    <label class="form-control input-md">{{tieUpSchool?.mobile}}</label>                  
                                </div>
                            </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <label class="form-control-label" for="website">Website</label>
                                <label class="form-control input-md">{{tieUpSchool?.website}}</label>                
                            </div>
                            <div class="col-sm-6">
                                <label class="form-control-label" for="address">Address</label>
                                <label class="form-control input-md">{{tieUpSchool?.address}}</label>                
                            </div>
                        </div>  
                        <div class="row mt-2">
                            <div class="col-sm-3">
                                <label class="form-control-label" for="country">Country</label>
                                <label class="form-control input-md">{{tieUpSchool?.country?.name}}</label>                
                            </div>
                            <div class="col-sm-3">
                                <label class="form-control-label" for="stateRegion">State/Region</label>
                                <label class="form-control input-md">{{tieUpSchool?.stateRegion?.name}}</label>                
                            </div>
                            <div class="col-sm-3">
                                <label class="form-control-label" for="district">District</label>
                                <label class="form-control input-md">{{tieUpSchool?.district?.name}}</label>                
                            </div>
                            <div class="col-sm-3">
                                <label class="form-control-label" for="city">City</label>
                                <label class="form-control input-md">{{tieUpSchool?.city?.name}}</label>                
                            </div>
                        </div>
                        <div class="row mt-2">                  
                            <div class="col-sm-3">
                                <label class="form-control-label" for="pincode">Pincode</label>
                                <label class="form-control input-md">{{tieUpSchool?.pincode}}</label>                
                            </div>
                            <div class="col-sm-6">
                                <label class="form-control-label" for="contactPerson">Contact Person</label>
                                <label class="form-control input-md">{{tieUpSchool?.contactPerson}}</label>                
                            </div>
                            <div class="col-sm-3">
                                <label class="form-control-label" for="panNumber">PanNumber</label>
                                <label class="form-control input-md">{{tieUpSchool?.panNumber}}</label>                
                            </div> 
                        </div>  
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="2">
                        <a class="nav-link text-uppercase" aria-controls="documents" aria-selected="true" ngbNavLink>Enclosure Documents</a>
                        <ng-template ngbNavContent>
                            <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
                            (click)="addDocument(tieUpSchool.uuid)">Add Document</button>  
                            <table class="table table-striped row-border table-hover pt-1">
                                <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Enclosure Document</th>
                                        <th>File Name</th>
                                        <th>Uploaded On</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tieUpSchoolDocument of tieUpSchoolDocuments let i=index" >
                                        <td>{{i+1}}</td>
                                        <td>{{tieUpSchoolDocument?.enclosureDocument?.name}}</td>
                                        <td>{{tieUpSchoolDocument?.fileName}}</td>
                                        <td>{{tieUpSchoolDocument?.uploadedOn | date : "dd/MM/yyyy"}}</td>
                                        <td>
                                        <i class="fa fa-trash-alt" title="Delete" style="cursor: pointer;" (click)="deleteTieUpSchoolDocument(tieUpSchoolDocument)"></i>
                                        </td>
                                    </tr>
                                    <tr *ngIf="tieUpSchoolDocuments.length == 0">
                                        <td></td>
                                        <td></td>
                                        <td>No record(s) found</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                    </li>
                    <li class="nav-item" [ngbNavItem]="3">
                        <a class="nav-link text-uppercase" aria-controls="contacts" aria-selected="true" ngbNavLink>Contract Histories</a>
                        <ng-template ngbNavContent>
                            <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
                            (click)="addRenew(tieUpSchool.uuid)">Add/Renew</button>  
                            <table class="table table-striped row-border table-hover pt-10">
                                <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Contract From</th>
                                        <th>Contract To</th>
                                        <th>Active</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tieUpSchoolContractHistory of tieUpSchoolContractHistories; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{tieUpSchoolContractHistory?.contractFrom  | date : "dd/MM/yyyy"}}</td>
                                        <td>{{tieUpSchoolContractHistory?.contractTo  | date : "dd/MM/yyyy"}}</td>
                                        <td>
                                        <span [ngClass]="tieUpSchoolContractHistory.isActive ? 'badge bg-success' : ' badge bg-danger'" style="cursor: pointer;" title="Change Status" (click)="updateStatus(tieUpSchoolContractHistory)">{{tieUpSchoolContractHistory.isActive? 'Yes' : 'No'}}</span>
                                        </td>
                                        <td>
                                        <i class="fa fa-trash-alt" title="Delete" style="cursor: pointer;" (click)="deleteTieUpSchoolContract(tieUpSchoolContractHistory)"></i>
                                        </td>
                                    </tr>
                                    <tr *ngIf="tieUpSchoolContractHistories.length == 0">
                                        <td></td>
                                        <td></td>
                                        <td>No record(s) found</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
    </div>
</div>
