<div class="modal-header">
    <h5 class="modal-title" id="businessPartnerContractAddModal"><i class="fa fa-plus"></i>&nbsp;Add/Renew Contract</h5>
        <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="closeModal()"
        ></button>
</div>
<form [formGroup]="addTieUpSchoolContractForm" id="addTieUpSchoolContractForm" (ngSubmit)="saveTieUpSchoolContract()" autoComplete="off">
    <div class="modal-body">    
        <div class="row">
             <!-- Start date -->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="contractFrom">Contract From&nbsp;<span
                    style="color: red;">*</span></label>
                    <input class="form-control input-md" id="contractFrom" type='date' required formControlName="contractFrom"
                    [ngClass]="{'is-invalid': !addTieUpSchoolContractForm.controls['contractFrom'].valid && !isValidForm}" />
                    <label style="color: red;"
                    *ngIf="addTieUpSchoolContractForm.controls['contractFrom'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text">Please enter your start date.</label>
                </div>
            </div>
              <!-- end date -->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="contractTo">Contract To&nbsp;<span
                    style="color: red;">*</span></label>
                    <input class="form-control input-md" id="contractTo" type='date' required formControlName="contractTo" 
                    min="{{addTieUpSchoolContractForm.controls['contractFrom'].value}}"
                    [ngClass]="{'is-invalid': !addTieUpSchoolContractForm.controls['contractTo'].valid && !isValidForm}" />
                    <label style="color: red;"
                    *ngIf="addTieUpSchoolContractForm.controls['contractTo'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text">Please enter your end date.</label>
                    <span style="color: red;" *ngIf="addTieUpSchoolContractForm.controls['contractTo'].hasError('dateRange') && 
                    (addTieUpSchoolContractForm.get('contractTo').touched || addTieUpSchoolContractForm.get('contractTo').dirty)">
                    contractTo date must be after contractFrom date.</span>
                </div>
            </div>
        </div>
    </div>    
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>