<div class="modal-header">
    <h5 class="modal-title" id="gradeAddModal"><i class="fa fa-plus"></i>&nbsp;Add Grade</h5>
    <!-- <div> {{addGradeForm.value|json}}</div> -->
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="addGradeFrm" id="addGradeFrm" (ngSubmit)="saveGrade()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-4">
                <form [formGroup]="gradeCategoryForm">
                    <div class="form-group">
                        <label class="form-control-label" for="gradeCategory">Grade Category&nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="gradeCategory" formControlName="gradeCategory"
                        [ngClass]="{'is-invalid': !gradeCategoryForm.controls['gradeCategory'].valid && !isValidForm}">
                        <option value="{{gradeCategory.id}}" *ngFor="let gradeCategory of gradeCategories">{{gradeCategory?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="gradeCategoryForm.controls['gradeCategory'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select grade category.</label>
                    </div>
                </form>                
            </div> 
            <div class="col-md-8">
                <div class="form-group">
                    <label class="form-control-label" for="names">Names&nbsp;<span style="color: red;">*</span></label>
                    <tag-input class="tag-chips" [(ngModel)]="names" formControlName="name" [modelAsStrings]="true" (keyup.enter)="onEnterKey($event)"></tag-input>
                    <label style="color: red;"
                    *ngIf="addGradeFrm.controls['name'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter grade name.</label>
                </div>                
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>