<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" style="padding: 10px 25px;">
          <h5 style="margin-top: 0.8rem;"><i class="fa fa-window-close"></i>&nbsp; Course Exit Reasons &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></h5>
          <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
           (click)="addCourseExitReason()">Add Course Exit Reason</button>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form [formGroup]="exitReasonTypeForm">
                        <div class="form-group">
                            <label class="form-control-label" for="exitReasonType">Exit Reason Type &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedExitReasonType"></i></label>
                            <select class="form-control" required id="exitReasonType" formControlName="exitReasonType">
                                <option value="{{exitReasonType.id}}" *ngFor="let exitReasonType of exitReasonTypes">{{exitReasonType.name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <br/>
                    <button type="button" class="btn btn-rounded btn-primary" *ngIf="!searchClicked" 
                    (click)="filterData()"><i class="fa fa-search"></i>&nbsp;Search</button>
                    <button type="button" class="btn btn-rounded btn-primary" *ngIf="searchClicked">
                    <i class="fa fa-spin fa-spinner"></i>&nbsp;Searching...</button>
                </div>
            </div>
            <div class="table-responsive">
              <table datatable id="tblCourseExitReason" class="table table-striped row-border table-hover pt-10">
                <thead>
                  <tr>
                    <th>Sno</th>
                    <th>Exit Reason Type</th>
                    <th>Reason</th>
                    <th>Active</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let courseExitReason of courseExitReasons let i=index">
                    <td>{{i+1}}</td>
                    <td>{{courseExitReason?.exitReasonType?.name}}</td>
                    <td>{{courseExitReason?.name}}</td>
                    <td>
                      <span [ngClass]="courseExitReason.isActive? 'badge bg-success':'badge bg-danger'" (click)="updateStatus(courseExitReason)" 
                      style="cursor: pointer;" title="Update Status">
                        {{courseExitReason.isActive? 'Yes' : 'No' }}
                      </span>
                    </td>   
                    <td style="width:40px;text-align: right;">
                        <i class="fa fa-edit" (click)="editCourseExitReason(courseExitReason)" *ngIf="courseExitReason.isExist == 0" title="Edit" style="cursor: pointer;"></i>&nbsp;
                        <i class="fa fa-trash-alt" (click)="deleteCourseExitReason(courseExitReason)" *ngIf="courseExitReason.isExist == 0" title="Delete" style="cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr *ngIf="courseExitReasons.length == 0">
                    <td></td>
                    <td></td>
                    <td>No record(s) found</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        </div>
      </div>
    </div>
</div>