<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="padding: 5px 25px;">
                <h5 style="margin-top: 0.8rem;"><i class="fa fa-building"></i>&nbsp;School Sub-Groups&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></h5>
                <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
                (click)="addSchoolSubGroup()">Add School Sub-Group</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table datatable id="tblSchoolSubGroup" class="table table-striped row-border table-hover pt-10">
                        <thead>
                            <tr>
                                <th>Sno</th>
                                <th>School Sub-Group</th>
                                <th>Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let schoolSubGroup of schoolSubGroups let i=index">
                                <td>{{i+1}}</td>
                                <td>{{schoolSubGroup.name}}</td>
                                <td>
                                    <span [ngClass]="schoolSubGroup.isActive? 'badge bg-success':'badge bg-danger'" (click)="updateStatus(schoolSubGroup)" 
                                    style="cursor: pointer;" title="Update Status">
                                    {{schoolSubGroup.isActive? 'Yes' : 'No' }}
                                    </span>
                                </td>   
                                <td style="width:40px;text-align: right;">
                                    <i class="fa fa-trash-alt" (click)="deleteSchoolSubGroup(schoolSubGroup)" *ngIf="schoolSubGroup.isExist == 0"
                                    title="Delete" style="cursor: pointer;"></i>&nbsp;
                                </td>
                            </tr>
                            <tr *ngIf="schoolSubGroups.length == 0">
                                <td></td>
                                <td>No record(s) found</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>