<div class="modal-header">
    <h5 class="modal-title" id="yearCalenderAddModal"><i class="fa fa-plus"></i>&nbsp;Add Event</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="editYearCalenderForm" id="editYearCalenderForm" (ngSubmit)="saveYearCalender()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-control-label" for="remark">Event&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="remark" type="text" required maxlength="200"
                    formControlName="remark" rows="3" [ngClass]="{'is-invalid': !editYearCalenderForm.controls['remark'].valid && !isValidForm}" />
                    <label style="color: red;"
                    *ngIf="editYearCalenderForm.controls['remark'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter event.</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>