<div class="modal-header">
    <h5 class="modal-title" id="userAddModal"><i class="fa fa-plus"></i>&nbsp;Add User Role</h5>
    <!-- <div> {{roleForm.value|json}}</div> -->
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="addUserTypeForm" id="addUserTypeForm" (ngSubmit)="saveUserType()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-control-label" for="name">Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="name" type="text" required 
                    formControlName="name" maxlength="40"
                    [ngClass]="{'is-invalid': !addUserTypeForm.controls['name'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="addUserTypeForm.controls['name'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter name.</label>                    
                </div>
            </div>
        </div>
        <div class="row">           
            <div class="col-md-12">
                <form [formGroup]="moduleForm">
                    <div class="form-group">
                        <label class="form-control-label" for="module">Module&nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control" required id="module" formControlName="module" (change) = "getUserRoles()"
                        [ngClass]="{'is-invalid': !moduleForm.controls['module'].valid && !isValidForm}" >
                            <option value="{{module.id}}" *ngFor="let module of modules">{{module.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="moduleForm.controls['module'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select module.</label>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="row">           
            <div class="col-md-12">
                <form [formGroup]="roleForm">
                    <div class="form-group">
                        <label class="form-control-label" for="role">User Role&nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></label>
                        <select class="form-control" required id="role" formControlName="role" 
                        [ngClass]="{'is-invalid': !roleForm.controls['role'].valid && !isValidForm}" 
                        >
                            <option value="{{role.id}}" *ngFor="let role of userRoles">{{role.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="roleForm.controls['role'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select user role.</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>