<div class="modal-header">
    <h5 class="modal-title" id="studyCenterAgreementAddModal"><i class="fa fa-plus"></i>&nbsp;Add/Renew Agreement</h5>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="addStudyCenterAgreementForm" id="addStudyCenterAgreementForm" (ngSubmit)="saveStudyCenterAgreement()" autoComplete="off">
    <div class="modal-body">    
        <div class="row">
             <!-- Start date -->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="agreementFrom">Agreement From&nbsp;<span
                    style="color: red;">*</span></label>
                    <input class="form-control input-md" id="agreementFrom" type='date' required formControlName="agreementFrom"
                    [ngClass]="{'is-invalid': !addStudyCenterAgreementForm.controls['agreementFrom'].valid && !isValidForm}" />
                    <label style="color: red;"
                    *ngIf="addStudyCenterAgreementForm.controls['agreementFrom'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text">Please enter your start date.</label>
                </div>
            </div>
              <!-- end date -->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="agreementTo">Agreement To&nbsp;<span
                    style="color: red;">*</span></label>
                    <input class="form-control input-md" id="agreementTo" type='date' required formControlName="agreementTo" 
                    min="{{addStudyCenterAgreementForm.controls['agreementFrom'].value}}"
                    [ngClass]="{'is-invalid': !addStudyCenterAgreementForm.controls['agreementTo'].valid && !isValidForm}" />
                    <label style="color: red;"
                    *ngIf="addStudyCenterAgreementForm.controls['agreementTo'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text">Please enter your end date.</label>
                    <span style="color: red;" *ngIf="addStudyCenterAgreementForm.controls['agreementTo'].hasError('dateRange') && 
                    (addStudyCenterAgreementForm.get('agreementTo').touched || addStudyCenterAgreementForm.get('agreementTo').dirty)">
                    agreementTo date must be after agreementFrom date.</span>
                </div>
            </div>
        </div>
    </div>    
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>