<div class="modal-header">
    <h5 class="modal-title" id="subjectAddModal"><i class="fa fa-plus"></i>&nbsp;Add Subject</h5>
    <!-- <div> {{addSubjectForm.value|json}}</div> -->
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
    ></button>
</div>
<form [formGroup]="addSubjectForm" id="addSubject" (ngSubmit)="saveSubject()" autocomplete="off">
    <div class="modal-body">    
        <div class="row">
            <div class="col-md-3">
                <form [formGroup]="gradeCategoryForm">
                    <div class="form-group">
                        <label class="form-control-label" for="gradeCategory">Grade Category &nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="gradeCategory" formControlName="gradeCategory" (change) ="getGrades()"
                        [ngClass]="{'is-invalid': !gradeCategoryForm.controls['gradeCategory'].valid && !isValidForm}"
                          >
                        <option value="{{gradeCategory.id}}" *ngFor="let gradeCategory of gradeCategories">{{gradeCategory?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="gradeCategoryForm.controls['gradeCategory'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select grade category.</label>
                    </div>
                </form>                
            </div>
            <div class="col-md-4">
                <form [formGroup]="gradeForm">
                    <div class="form-group">
                        <label class="form-control-label" for="grade">Grade &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="gradeClicked"></i></label>
                        <ng-select id="gradeIds" required
                        formControlName="gradeIds" [options]="grades" [multiple]="true"
                        [ngClass]="!gradeForm.controls['gradeIds'].valid && !isValidForm ? ['ng select', 'is-invalid'] : ['ng-select']">
                        </ng-select>
                        <label style="color: red;"
                        *ngIf="gradeForm.controls['gradeIds'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select grade.</label>
                    </div>
                </form>                
            </div>             
            <div class="col-md-5">
                <form [formGroup]="syllabusForm">
                    <div class="form-group">
                        <label class="form-control-label" for="syllabusIds">Syllabus &nbsp;<span style="color: red;">*</span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="syllabusClicked"></i></label>                        
                        <ng-select id="syllabusIds" required
                        formControlName="syllabusIds" [options]="syllabuses" [multiple]="true"
                        [ngClass]="!syllabusForm.controls['syllabusIds'].valid && !isValidForm ? ['ng select', 'is-invalid'] : ['ng-select']">
                        </ng-select>
                        <label style="color: red;"
                        *ngIf="syllabusForm.controls['syllabusIds'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select syllabus.</label>
                    </div>
                </form>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="name">Name&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="name" type="text" required 
                    formControlName="name" maxlength="40"
                    [ngClass]="{'is-invalid': !addSubjectForm.controls['name'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="addSubjectForm.controls['name'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter subject name.</label>
                </div>
            </div> 
            <div class="col-md-3">
                <form [formGroup]="subjectTypeForm">
                    <div class="form-group">
                        <label class="form-control-label" for="subjectType">Subject Type &nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="subjectType" formControlName="subjectType"
                        [ngClass]="{'is-invalid': !subjectTypeForm.controls['subjectType'].valid && !isValidForm}">
                        <option value="{{subjectType.id}}" *ngFor="let subjectType of subjectTypes">{{subjectType?.name}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="subjectTypeForm.controls['subjectType'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select subject type.</label>
                    </div>
                </form>                
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="totalSession">Total Session&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="totalSession" type="text" required 
                    formControlName="totalSession" maxlength="3"
                    [ngClass]="{'is-invalid': !addSubjectForm.controls['totalSession'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="addSubjectForm.controls['totalSession'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter subject total session.</label>
                    <label style="color: red;"
                    *ngIf="addSubjectForm.controls['totalSession'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter only digits</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="sessionDuration">Session Duration&nbsp;<span style="color: red;">*</span></label>
                    <input class="form-control input-md" id="sessionDuration" type="text" required 
                    formControlName="sessionDuration" maxlength="3"
                    [ngClass]="{'is-invalid': !addSubjectForm.controls['sessionDuration'].valid && !isValidForm}"/>
                    <label style="color: red;"
                    *ngIf="addSubjectForm.controls['sessionDuration'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter subject session duration.</label>
                    <label style="color: red;"
                    *ngIf="addSubjectForm.controls['sessionDuration'].hasError('pattern') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please enter only digits</label>
                </div>
            </div>
            <div class="col-md-2">                
                <div class="form-group">
                    <label class="form-control-label" for="hasPractical">Has Practical &nbsp;<span style="color: red;">*</span></label>
                    <select class="form-control"  required id="hasPractical" formControlName="hasPractical"
                    [ngClass]="{'is-invalid': !addSubjectForm.controls['hasPractical'].valid && !isValidForm}">
                    <option value="">Select Has Practical</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                    </select>
                    <label style="color: red;"
                    *ngIf="addSubjectForm.controls['hasPractical'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please select has practical.</label>
                </div>              
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">                
                <div class="form-group">
                    <label class="form-control-label" for="isMandatory">Mandatory/Optional &nbsp;<span style="color: red;">*</span></label>
                    <select class="form-control"  required id="isMandatory" formControlName="isMandatory"
                    [ngClass]="{'is-invalid': !addSubjectForm.controls['isMandatory'].valid && !isValidForm}">
                    <option value="">Select Mandatory/Optional</option>
                    <option value="1">Mandatory</option>
                    <option value="0">Optional</option>
                    </select>
                    <label style="color: red;"
                    *ngIf="addSubjectForm.controls['isMandatory'].hasError('required') && !isValidForm"
                    class="error jquery-validation-error small form-text"
                    >Please select mandatory/optional.</label>
                </div>              
            </div>
            <div class="col-md-3">
                <form [formGroup]="academicSessionForm">
                    <div class="form-group">
                        <label class="form-control-label" for="applicableFromYear">Applicable From Year &nbsp;<span style="color: red;">*</span></label>
                        <select class="form-control"  required id="applicableFromYear" formControlName="applicableFromYear"
                        [ngClass]="{'is-invalid': !academicSessionForm.controls['applicableFromYear'].valid && !isValidForm}">
                        <option value="{{academicSession.id}}" *ngFor="let academicSession of academicSessions">{{academicSession?.year}}</option>
                        </select>
                        <label style="color: red;"
                        *ngIf="academicSessionForm.controls['applicableFromYear'].hasError('required') && !isValidForm"
                        class="error jquery-validation-error small form-text"
                        >Please select applicable from year.</label>
                    </div>
                </form>                
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-secondary" data-bs-dismiss="modal" (click)="closeModal()"> Close </button>
        <button type="submit" class="btn btn-rounded btn-success" *ngIf="!saveClicked"><i class="fa fa-save"></i>Save </button>
        <button type="button" class="btn btn-rounded btn-success" disabled="true" *ngIf="saveClicked">
            <i class="fa fa-spin fa-spinner"></i>Saving...</button>
    </div>
</form>