<ul class="navbar-nav">
  <li appToggleFullScreen>
    <a href="javascript:" class="full-screen" class="text-dark"><i class="feather icon-maximize"></i></a>
  </li>
  <li class="nav-item dropdown text-dark" ngbDropdown placement="auto">
    Academic Year : {{currentAcademicYear ? currentAcademicYear.year : "None"}}
  </li>
  <li class="nav-item dropdown text-dark" ngbDropdown placement="auto" *ngIf="loginUser.role.name == 'School'">
    <img class="border border-primary" [src]="schoolLogo" style="width: 100px;">
    {{schoolLogo ? '' : "Allocated School : " + loginUser.schools[0].name}}
  </li>
  <li class="nav-item dropdown text-dark" ngbDropdown placement="auto" 
  *ngIf="loginUser.userType?.code != 'SUADM' && loginUser.role.name == 'Head'">
    <a href="javascript:" data-toggle="dropdown" ngbDropdownToggle style="color: black !important;">Allocated Schools</a>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li *ngFor="let school of loginUser.schools">
        <a class="dropdown-item" href="javascript:">{{school.name}}</a>
      </li>
    </ul>
  </li>
  <!-- <li class="nav-item">
    <app-nav-search></app-nav-search>
  </li> -->
</ul> 
