.progress {
  height: 7px;
}
.earning-date .bd-example .nav-tabs .nav-link.active:after {
  content: '';
  position: relative;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  top: -29px;
  left: -17px;
  right: 0;
  margin: 0 auto;
  width: 11px;
}

.earning-date .bd-example .nav-tabs .nav-link.active {
  background: #fff;
  box-shadow: none;
  color: #000;
}
.earning-date .bd-example .nav-tabs .nav-link {
  min-width: auto;
  padding: 6px 18px;
  color: #fff;
  position: relative;
}
