<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="padding: 5px 25px;">
                <h5 style="margin-top: 0.8rem;"><i class="fa fa-graduation-cap"></i>&nbsp; Batch-Types &nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i></h5>
                <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: 0rem;"
                (click)="addBatchType()">Add Batch-Type</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table datatable id="tblBatchType" class="table table-striped row-border table-hover pt-10">
                        <thead>
                            <tr>
                                <th>Sno</th>
                                <th>Batch Type</th>
                                <th>Applicable From</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let batchType of batchTypes let i=index">
                                <td>{{i+1}}</td>
                                <td>{{batchType.name | titlecase}}</td>
                                <td>{{batchType?.academicSession?.batchYear}}</td>
                                <td>{{batchType.startTime | convert12HrsTimeFormat}}</td>
                                <td>{{batchType.endTime | convert12HrsTimeFormat}}</td>
                                <td>
                                    <span [ngClass]="batchType.isActive ? 'badge bg-success' : 'badge bg-danger'" 
                                    style="cursor: pointer;" title="Change Status" (click)="updateStatus(batchType)">
                                    {{batchType.isActive ? 'Yes' : 'No'}}
                                    </span>
                                </td>
                                <td style="width:40px;text-align: right;">
                                    <i class="fa fa-edit" (click)="editBatchType(batchType)" title="Edit" style="cursor: pointer;"></i>&nbsp;
                                    <i class="fa fa-trash-alt" (click)="deleteBatchType(batchType)" *ngIf = "batchType.isExist == 0"
                                    title="Delete" style="cursor: pointer;"></i>&nbsp;
                                </td>
                            </tr>
                            <tr *ngIf="batchTypes.length == 0">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>No record(s) found</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>