<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="card-header">
                        <h5 class="mb-3"> Subject Group Combination :&nbsp;
                            <span class="{{subjectGroup?.isActive == 1 ? 'badge bg-success' :  'badge bg-danger'}}">
                                Status : {{subjectGroup?.isActive == 1 ? 'Yes' : 'No'}}
                            </span>&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClicked"></i>
                        </h5>
                        <button type="button" class="btn btn-rounded btn-black float-end" style="margin-top: -10px;" (click)="back()">Back</button>
                    </div>
                    <div class="col-sm-3 mt-2">
                        <label class="form-control-label" for="groupName">Group Name</label>
                        <label class="form-control input-md">{{subjectGroup?.groupName}}</label>                 
                    </div>
                    <div class="col-sm-3 mt-2">
                        <label class="form-control-label" for="syllabus">Syllabus</label>
                        <label class="form-control input-md">{{subjectGroup?.syllabus?.name}}</label>                 
                    </div>
                    <div class="col-sm-3 mt-2">
                        <label class="form-control-label" for="gradeCategory">Grade Category</label>
                        <label class="form-control input-md">{{subjectGroup?.gradeCategory?.name}}</label>                  
                    </div>
                    <div class="col-sm-3 mt-2">
                        <label class="form-control-label" for="grade">Grade</label>
                        <label class="form-control input-md">{{subjectGroup?.grade?.name}}</label>                  
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-3">
                        <label class="form-control-label" for="minSubject">Min Subject</label>
                        <label class="form-control input-md">{{subjectGroup?.minSubject}}</label>                 
                    </div>
                    <div class="col-sm-3">
                        <label class="form-control-label" for="maxSubject">Max Subject</label>
                        <label class="form-control input-md">{{subjectGroup?.maxSubject}}</label>                 
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="card-header">
                        <h5 class="mb-3">Allocated Subjects&nbsp;<i class="fa fa-spin fa-spinner" *ngIf="searchClickedSubjectGroupAllocation"></i></h5>
                        <button type="button" class="btn btn-rounded btn-primary float-end" style="margin-top: -10px;" (click)="allocateSubjects()">Allocate Subjects</button>
                    </div>
                    <div class="table-responsive mt-2">
                        <table datatable id="tblSubjectGroupAllocation" class="table table-striped row-border table-hover pt-10">
                        <thead>
                            <tr>
                            <th>Sno</th>
                            <th>Subject</th>
                            <th>Active</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subjectGroupAllocation of subjectGroupAllocations let i=index">
                            <td>{{i+1}}</td>
                            <td>{{subjectGroupAllocation?.subject?.name}}</td>
                            <td>
                                <span [ngClass]="subjectGroupAllocation.isActive? 'badge bg-success':'badge bg-danger'" (click)="updateStatus(subjectGroupAllocation)" 
                                style="cursor: pointer;" title="Update Status">
                                    {{subjectGroupAllocation.isActive? 'Yes' : 'No' }}
                                </span>
                            </td>
                            <td style="width:40px;text-align: right;">
                                <i class="fa fa-trash-alt" (click)="deleteSubjectGroupAllocation(subjectGroupAllocation)" title="Delete" style="cursor: pointer;"></i>
                            </td>
                            </tr>
                            <tr *ngIf="subjectGroupAllocations.length == 0">
                            <td></td>
                            <td></td>
                            <td>No record(s) found</td>
                            <td></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
